[2017-07-11 16:05] dobegor opened #1 "CopierFrom Call"
Currently calling CopierFrom(src).Run(ctx) yields 404 error.

[2017-07-20 15:16] #1 closed

[2017-08-10 14:16] dobegor opened #2 "Deleting an object fails"
Deleting an existing object fails with an error `storage: object doesn't exist`.

[2017-08-11 21:58] #2 closed

[2017-08-14 09:03] dobegor commented on #2
Thanks!

[2017-08-14 14:58] fsouza commented on #2
@dobegor no problem, thank you for reporting it! :)

[2017-08-17 00:19] fsouza opened #3 "Upload doesn't support overwriting files"

[2017-08-17 02:44] #3 closed

[2018-04-13 00:12] gracenoah opened #7 "The dependency on cloud.google.com/go doesn't need to be 0.19.0"
In Gopkg.toml, there's a dependency on
[code]
and this was forcing me to upgrade cloud.google.com/go, but fake-gcs-server doesn't actually depend on anything new in this version, so I would prefer it if a lower version was required, such as 0.18.0. I'm working around this with a fork because I already have a fork, but maybe there's a way to tell dep to override it. Either way, it seems simple enou

[2018-04-13 16:07] fsouza commented on #7
Hey @gracenoah, can you try overriding it in your ``Gopkg.toml``?

[code]

[2018-04-13 17:12] gracenoah commented on #7
Ah, sorry, yes, the override does work as expected. I'm pretty impressed with dep :P Feel free to close if you think that's a reasonable compromise.

[2018-04-13 19:34] fsouza commented on #7
@gracenoah thanks for confirming! :D

[2018-04-13 19:34] #7 closed

[2018-04-27 11:53] frallain opened #8 "How to use?"
Hi, I am really interested by this initiative to mimick GCS a la fakes3. Some questions though,
- how to start the server?
- what are the dependencies?
Cheers

[2018-04-27 15:03] fsouza commented on #8
@frallain hey, it looks like you want to use this as a standalone server/daemon? fake-gcs-server is a library, you can create a custom application server out of it, but you'd need to write the code to do so.

Not sure if that answers your question. Please let me know if that's not the case! :)

[2018-05-02 21:09] stern0 commented on #8
I think it would be better to have make it as standalone daemon or server executable as a rest api service, in that case any programming language can consume it, like how this [fake-s3](https://github.com/jubos/fake-s3) is implemented . Now as it is only golang developers can use this.

[2018-05-08 17:28] ekrengel opened #9 "Empty Bucket"
Is there a way to create an empty bucket?

[2018-05-08 17:32] ekrengel commented on #9
Figured it out...
[code]

[2018-05-08 17:32] #9 closed

[2018-07-26 16:50] gracenoah opened #11 "Object listing does not work properly with filesystem storage"
Listing objects on a bucket using the filesystem storage always returns an empty list.

[2018-07-27 15:02] #11 closed

[2018-08-06 15:30] gracenoah commented on #8
This is how I use it:

[code]

I also use it the original intended way as a library with in-memory storage in tests, but this is really useful for integration tests.

[2018-11-18 17:35] kaskerd commented on #8
So this can only be used in golang projects right?

It's not like the ruby version which seems to run as a service.

[2019-01-20 00:19] #8 closed

[2019-03-27 19:07] teone commented on #8
Hi @fsouza,
first thing, thanks for creating this!

I'm trying to use this as a fake backend to create standalone server (as @cllty suggested).
Using @gracenoah suggestion I quickly containerized it and it's running exposing port `9000`.

When I run a `curl` against it I receive a `AccessDenied` as in:
[code]

I couldn't find any reference to credentials in the code, so any guidance on the usage o

[2019-03-27 19:14] teone commented on #8
ok, never mind and sorry for the stupid question... I didn't realize the connection was trough `https` and that's why it was running on port `4443`, exposing that port works:

[code]

[2019-03-28 15:45] fsouza commented on #8
Hey @teone, I think I'll implement a fake--gcs command and containerize that to facilitate testing applications that are not using Go. And would include some docs too. Would that be helpful?

[2019-03-28 16:58] teone commented on #8
@fsouza I was waiting to arrive to a more stable point with that but I started looking at that yesterday: https://github.com/teone/gc-fake-storage I'd be happy to contribute this back here if others are interested in it

[2019-03-28 20:25] rogierlommers opened #24 "How to use the server?"
Hey! Nice project, appreciate it!

But I'm wondering: how can I use the server in my go apps? For example, I can use the pubsub emulator by setting the `PUBSUB_EMULATOR_HOST` to the address where the pubsub emulator is running. This wat the client directly connects to the one running on that port. Is there also some kind of mechanism for the Go storage SDK?

In other words: how can I point the cli

[2019-03-28 20:40] fsouza commented on #24
Hey, you should call the [Client()](https://godoc.org/github.com/fsouza/fake-gcs-server/fakestorage#Server.Client) method on the fake server instance, that will give you a storage.Client instance pre-configured to talk to the server.

Example from the docs: https://godoc.org/github.com/fsouza/fake-gcs-server/fakestorage#example-Server-Client

Some projects that use it:

### gcs-helper

- productio

[2019-03-28 20:41] fsouza commented on #8
Oh cool, if you have it I can link it in the README too :)

[2019-03-28 20:48] teone commented on #8
Sure I'll send you a PR for that as soon as it's in a decent shape!

[2019-03-28 20:52] rogierlommers commented on #24
Ok, clear. This would mean that my Go code should contain something like:

"if running locally, then use this client" (coming from the `client()`-method. The nice part of the pubsub emulator stuff is that it's just an environment var which sets emulation ON/OFF.

[2019-03-28 20:56] fsouza commented on #24
Oh so this is not for automated tests? In that case, you're probably looking for something like https://github.com/teone/gc-fake-storage, that gives you a standalone process that starts a fake server that you can point to.

[2019-03-29 06:48] rogierlommers commented on #24
Yeah, that's exactly what I need. But unfortunately I can't get it to work. So I did the following:

First, I started the docker container (the fake server): `docker run -d --name gc-fake-storage -p 4443:4443 -v /tmp/data:/data matteoscandolo/gc-fake-storage:0.1.0`

Then I tried to create a bucket using the normal Go SDK. The code is like this:

[code]

Unfortunately this does not work. I keep rec

[2019-06-05 01:42] jwhitlock commented on #24
@rogierlommers ``bucket.Create`` would not have worked before PR #34 was merged. Now the ``POST`` to ``/storage/v1/b`` to create a bucket should work.

In ``gc-fake-storage``, I believe I continued to get 404s unless the directory ``/storage/`` was created first. This can be created as a side effect of providing a ``/data`` mount. A single``/data/first_bucket/first_object.txt`` would create the ``

[2019-06-27 05:45] dependabot-preview[bot] opened #42 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-07-02 16:16] jwhitlock opened #45 "Add a dockerized server configuration"
https://github.com/teone/gc-fake-storage provides a ``Dockerfile`` and related scripts to allow this code to be run as a server, so that it can be used outside of tests of Go code. This Docker image is published at https://hub.docker.com/r/matteoscandolo/gc-fake-storage.

It would be easier to improve and test this use case if the Docker configuration was part of this project instead. It could be

[2019-07-12 01:16] fsouza commented on #45
@jwhitlock I'm planning to give a shot at this next week. If we don't hear back from @teone, I can create a different main package under ``cmd/fake-gcs`` (or ``cmd/gcs-emulator``, dunno).

[2019-07-12 02:50] teone commented on #45
Hi @fsouza and @jwhitlock <https://github.com/jwhitlock>,
I'll be more than happy to make a pull request!

I should be able to do it aome time next week

On Thu, Jul 11, 2019, 6:16 PM francisco <notifications@github.com> wrote:

[2019-07-12 03:39] fsouza commented on #45
Nice! Will wait then :D

[2019-07-16 21:26] fsouza commented on #45
@jwhitlock @teone please take a look at #46.

[2019-07-18 15:41] #45 closed

[2019-07-18 21:39] fsouza commented on #24
README now has instructions on how to use the emulator locally with Docker. Closing this issue, but feel free to open a new one in case of questions!

[2019-07-18 21:39] #24 closed

[2019-07-22 15:21] MarcvanMelle opened #51 "DockerHub Image Causes Exception"
From scratch pulling `fsouza/fake-gcs-server` causes an exception in `standard_init_linux.go`

[code]

However, building the image from the repo and running the same is successful.
[code]

[2019-07-22 15:27] fsouza commented on #51
Hi @MarcvanMelle. Thanks for reporting and sorry about that. I'm pushing the fix right now.

[2019-07-22 15:34] fsouza commented on #51
This should be fixed now:

[code]

Also tagged 1.10.1.

Thanks for reporting and sorry about the disruption.

[2019-07-22 15:34] #51 closed

[2019-07-23 14:30] MarcvanMelle commented on #51
Awesome! Thanks for the quick fix.

[2019-07-30 22:42] tschaub opened #52 "Content type not preserved"
Thank you for your work on this module - it has made testing with GCS a breeze.

It looks to me like the content type of my objects is not getting preserved.  Here is a function that tries to set the content type for a new object and then to get the same from the objects attrs:
[code]
I'd expect that to print `content-type: text/html`.  Instead it prints `content-type: `.

Let me know if this look

[2019-07-31 01:43] fsouza commented on #52
Hey @tschaub, thanks for reporting this.

Currently fake-gcs-server never sets the content-type. I can look into this before the end of the week, or if you want to take a stab with a PR, the change is unfortunately larger than I'd hope, but we need to add the ContentType to the [fake object](https://godoc.org/github.com/fsouza/fake-gcs-server/fakestorage#Object), then make sure we set it when crea

[2019-08-02 21:11] #52 closed

[2019-08-03 03:03] kye308 opened #53 "Trying to download blob calls original googleapis url"
Hi, thanks for all the great work so far! I'm interested in downloading files with the server and am not sure if that is supported right now.

I can follow the steps in the readme to get a blob object. I would like to call `blob.download_as_string()` (or any similar download function) but when I do, I get

[code]
Is this expected? Wasn't sure if blob download is supported atm.

[2019-08-06 02:21] fsouza commented on #53
Hi @kye308 can you try the example from the [examples](https://github.com/fsouza/fake-gcs-server/tree/master/examples/python) folder?

[2019-08-07 01:18] fsouza commented on #53
I just replaced the snippet with a direct link. The script is also being tested in our CI environment now, so we should be good!

Please feel free to reopen if you still encounter this issue.

[2019-08-07 01:18] #53 closed

[2019-08-07 22:42] tschaub commented on #52
Thanks for the fix @fsouza!  This is working well in the v1.11.1 release.

[2019-08-25 05:59] AvihayTsayeg opened #72 "Copy file from bucket to bucket is not supported"
Hi,
Thx for the fake gcs server.

When trying to copy file from one bucket to another I got this error.
[code]

I'm using python API google-cloud-storage==1.18.0
`source_bucket.copy_blob(remote_file, to_bucket, target_gcs_path)`

Regards, Avihay

[2019-08-25 16:13] fsouza commented on #72
Hi @AvihayTsayeg, thanks for the detailed report!

Indeed that's not supported at the moment, but I'll see if I can find some time to add it later today or this week.

[2019-08-25 17:45] fsouza commented on #72
(in the meantime, you should probably be able to get away with ``rewrite``: https://github.com/googleapis/google-cloud-python/blob/3d29c750b528cbeeb7215c05bc34d355ef3b7480/storage/google/cloud/storage/blob.py#L1530)

The Go SDK actually replaced copyTo with rewriteTo, but I'm not sure why. I'll still work on adding copyTo to fake-gcs-server.

[2019-08-26 06:13] dependabot-preview[bot] opened #73 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/drone/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com).

You can mention @dependabot in the comment

[2019-08-26 09:07] AvihayTsayeg commented on #72
@fsouza
Thank you very much

[2019-08-26 15:00] #73 closed

[2019-09-28 04:03] nhoughto opened #84 "Multi-part upload isn't supported in all cases"
Using the Java SDK in this fashion

`bucketStorage.create(BlobInfo.newBuilder(bucketInfo, fullKey).build(), inputstream);`

Appears to send data using an unsupported mechanism, gives this error:

[code]

[2019-09-28 04:05] nhoughto opened #85 "Preloading data volume must have files in directories"
I was trying to preload the buckets, but without any data by creating empty directories (which seems like a validate use case?) but the preload data is only picked up if the directory has a file in it, empty directories don't cut it.

[2019-09-28 04:43] nhoughto commented on #84
I see looking through the code that there is a section for multipart uploads, possibly multi part uploads from the java sdk behave slightly differently?

Is there a way to enable more logging to give you more information?

[2019-09-29 05:15] nhoughto commented on #84
Ah this is because the java sdk sending protobuf/grpc by default, not JSON. Trying to figure out if can configure it to use JSON instead.. there is this sdk that is deprecated

https://developers.google.com/api-client-library/java/apis/storage/v1

[2019-09-30 03:32] nhoughto commented on #84
Works with old java sdk with gzip disabled :+1:

[2019-09-30 03:32] #84 closed

[2019-10-11 02:46] dependabot-preview[bot] opened #90 "Dependabot couldn't authenticate with ironsrc.jfrog.io/ironsrc/api/npm/atom-virtual"
Dependabot couldn't authenticate with ironsrc.jfrog.io/ironsrc/api/npm/atom-virtual.

Please note that for JFrog repositories Dependabot needs to have `deploy` permission (as JFrog requires this for Dependabot to access uncached artifacts).

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com) by clicking into the account menu (in the top right) and sel

[2019-10-11 02:47] #90 closed

[2019-10-11 02:47] dependabot-preview[bot] opened #93 "Dependabot couldn't authenticate with ironsrc.jfrog.io/ironsrc/api/npm/atom-virtual"
Dependabot couldn't authenticate with ironsrc.jfrog.io/ironsrc/api/npm/atom-virtual.

Please note that for JFrog repositories Dependabot needs to have `deploy` permission (as JFrog requires this for Dependabot to access uncached artifacts).

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com) by clicking into the account menu (in the top right) and sel

[2019-10-11 03:13] #93 closed

[2019-10-11 03:23] #85 closed

[2019-10-11 03:23] fsouza commented on #85
@nhoughto thanks for reporting and sorry for the delayed response. Just pushed a fix.

[2019-10-11 03:26] nhoughto commented on #84
@fsouza Any plan for adding a gRPC interface to this? This was the cause of my java sdk problems in the end.

[2019-10-11 03:32] fsouza commented on #84
@nhoughto I believe this would be way more complex. I don't have any plans right now, but I also don't have enough information. I can investigate and write down my findings.

[2019-10-11 05:05] nhoughto commented on #84
Ok that would be great, grpc appears to be the future for gcp apis, only the deprecated GCS library does JSON now. So someone is going to have to do it eventually 😉.

And you appear to be the only project out there solving this problem! 🤞🏼

[2019-10-21 05:41] bailantaotao opened #103 "Support http schema?"
HI there,

I have started a fake-gcs-server docker container to do unit test.
Then i'm meet some problems about wrong reader host (It should indicate fake-gcs-server, like `127.0.0.1:4443`).

I don't want to modify my `/etc/hosts`, so i try to set env `$STORAGE_EMULATOR_HOST` in my unit test. The schema will assign to `http` [[LINK](https://github.com/googleapis/google-cloud-go/blob/master/storage

[2019-10-21 16:07] fsouza commented on #103
Hey @bailantaotao, we can probably introduce an option for that, but may I ask why you're starting this in a container instead of using it as a library for unit tests?

[2019-10-25 06:52] aurc opened #110 "Issue downloading file!?"
Here's a single use case where I'm:

1. Creating a bucket "test_bucket"
2. Uploading a file "foo.txt"
3. Listing the files (I see "foo.txt")
4. Downloading the file "foo.txt"

I'm able to do steps 1 to 3. But step for gives me an error, as if it was trying to go the the cloud:

Here's the code sample:

[code]

The output is:

[code]

Am I missing something or this is a bug?

[2019-10-25 09:22] bailantaotao commented on #103
Sorry reply too late,

I have use library as my top option in unit test, thanks!
It's seems to me that this issue can be closed.

[2019-10-25 09:22] #103 closed

[2019-10-25 19:35] aurc commented on #110
My bad...

Replacing:
[code]

With
[code]
did the trick

[2019-10-25 19:35] #110 closed

[2019-10-31 18:06] Tohaker opened #114 ""open /storage/: no such file or directory" - Docker on Windows"
I'm trying to run the server, here is my command to start the Docker container:
`docker run -d --name fake-gcs-server -p 4443:4443 -v %CD%\bot\tests\data:/data fsouza/fake-gcs-server`

It starts with no problems, but using both cURL and Postman gives the same response when hitting `https://127.0.0.1:4443/storage/v1/b`:

`open /storage/: no such file or directory`

I'm clearly missing something her

[2019-11-01 02:18] rexydwybrundy opened #116 "Using Jclouds to access GCS docker need Credentials"
I using jclouds to try accessing blobstorage in GCS. It seems I need to set up some credentials and I didn't found it here. Do you have some examples? Thanks

[2019-11-07 02:49] fsouza commented on #116
Hey @rexydwybrundy, thanks for opening this issue. I'm not sure what jclouds is 🙈 Can you share a snippet of code that is supposed to work with a regular GCS server? Perhaps I can look into adapting it somehow.

[2019-11-07 02:51] fsouza commented on #114
Hey @Tohaker, thanks for opening this issue. This is weird 😞 Do you see anything in the container logs or more information in the response data?

Sorry for the delayed response x)

[2019-11-07 03:12] rexydwybrundy commented on #116
@fsouza so jcloud is like an open source multi-cloud toolkit for the Java platform that gives you the freedom to create applications that are portable across clouds while giving you full-control to use cloud-specific features. So I want to able to upload my file to the storage of any cloud provider with just specify the provider. But when I use this docker, is there any default credential that I c

[2019-11-08 18:21] Tohaker commented on #114
Here are the logs:

[2019-11-08 18:25] Tohaker commented on #114
As suspected, I flattened the folder structure and it worked. Is there any way to make this work with nested folders? My real bucket has a directory structure that I'd like to test against.

[2019-11-08 18:33] fsouza commented on #114
@Tohaker gotcha, thanks for posting the logs. Yeah, currently we don't support recursively creating the objects, but we could implement it, checking for a file/directory here: https://github.com/fsouza/fake-gcs-server/blob/10d4e3a3d24667ab71ffd590c10f3046b6224e8c/main.go#L69

I may be able to do it over the weekend depending on how cold it gets 😁

[2019-11-08 22:33] Tohaker commented on #114
That would be much appreciated 😄 Sadly I'm not familiar with GO otherwise I'd try to submit a PR myself.

[2019-11-08 22:37] fsouza commented on #114
@Tohaker no worries, I got you

[2019-11-19 12:25] henrahmagix opened #137 "Cannot set ACL on ObjectHandle"
With latest v1.14.1:
[code]

This code is very similar to an example taken from the `cloud.google.com/go/storage` docs, so I feel like it should be supported: https://godoc.org/cloud.google.com/go/storage#ACLHandle.Set

[2019-11-28 00:04] DanieleSassoli opened #142 "invalid character '\x1f' looking for beginning of value when uploading via java apis"
Hi, I'm trying to create a bucket in the fake gcs server using the java apis(which don't seem to be documented, happy to contribute with some docs once I get this working) but getting
[code]
This is the code:
[code]

Can't really figure out what I'm doing wrong, does anybody have any idea?

[2019-11-28 10:57] DanieleSassoli commented on #84
@fsouza any chance you looked into this? I'm hitting the same issue and not really in a position where I can use the deprecated SDK, it'd be great if this could work as, as @nhoughto says, you're the only one providing a docker emulator for gcs.

[2019-11-28 11:01] DanieleSassoli commented on #142
Just an update on this, as a workaround I decided to try an create a bucket with a file when starting up the container, as documented in the read me, after which I tried doing `storage.list(bucketName)` which worked, this makes me think that the StorageOptions are correct and something isn't quire right with the server when creating the bucket?

I'm now not able to create files in it due to #84 bu

[2019-12-09 01:12] gerardmrk commented on #114
Same issue here, using Docker Desktop for MacOS. Part of the compose file:

[code]

Running the example curls:

[code]

Running docker logs:

[code]

If this is useful info:
- No issues with the volume mounting; it gets created on host at the specified path.
- Volume directory stays empty before and after running the failed command (maybe that's normal).
- OS: `MacOS Catalina`, shell: `zsh`.

[2019-12-09 03:56] gerardmrk commented on #114
sorry ignore this. It was a typo in the copy-paste

[2019-12-09 04:00] gerardmrk commented on #114
Can confirm that mapping volume `/tmp:/data` works. My previous volume mapping `/usr/local/var/blobstore:/data`

[2019-12-09 16:12] fsouza commented on #142
Hey @DanieleSassoli, sorry for the delayed response. Yeah currently we don't support the GRPC API. I haven't looked into how much work that would be, do you have an idea? If not, I can take a look over the holidays.

[2019-12-09 16:14] fsouza opened #146 "Support the GRPC API?"
Certain clients use only the GRPC API and we currently don't support this.

As reported in #84 and #142, the Java clients seem to be use only GRPC.

Open as a question because I don't know yet how much work that would be.

[2019-12-09 16:14] fsouza commented on #142
Opened #146 to track support for the grpc api

[2019-12-21 19:35] kaime commented on #114
I'm having the same issue when mounting a data volume that's initially empty:

[code]

[code]
Adding a trailing slash to the URL generates a different error:

[code]

[2019-12-22 07:41] gerardmrk commented on #114
@kaime try the technique mentioned above, don't do nested paths (unfortunately). just do `/tmp/data` or something more specific than `data` to avoid potential name conflicts in `/tmp`.

Alternatively, if you're using Go, checkout gocloud.dev, they provide seamless abstraction over your object storage solution, using either in-memory or local filesystem for local development.

[2019-12-25 19:37] cuonglm commented on #103
@fsouza What need to change to make it support HTTP?

I try using HTTP transport, change `StartTLS` -> `Start`, then I always get:

[code]

I try setting `STORAGE_EMULATOR_HOST` to force `HTTP` but no luck, any suggestion?

[2019-12-26 09:21] cuonglm commented on #103
I add HTTP support in https://github.com/fsouza/fake-gcs-server/pull/154

[2019-12-27 19:25] fsouza commented on #114
@gerardmrk sorry, seeing this now. Will reopen the issue so it's easier to track.

Is ``/usr/local/var/blobstore`` an empty directory?

[2019-12-27 19:32] #114 closed

[2019-12-27 19:35] fsouza commented on #114
Oh ok I see what the issue is. Just pushed a fix and will tag 1.16.3 shortly.

[2020-01-07 17:14] ls-tommy-baloukas opened #159 "[BUG] Range Reader returning wrong bytes"
I am currently using the fakestorage package in my project to unit test my GCS code. It seems like calling NewRangeReader(ctx, offset, length) returns the wrong bytes depending on what I pass in as offset and length. For example, say I have a GCS Object that contains the following text: "Hello There!" and my goal is to read this file in chunks until the entire file is read, I would get get the fol

[2020-01-14 20:26] ahmck opened #163 "Could not load the default credentials"
Hey, I'm trying to upload a file in node but I get the following error:

    Error: Could not load the default credentials. Browse to https://cloud.google.com/docs/authentication/getting-started for more information.
    at GoogleAuth.getApplicationDefaultAsync (.../node_modules/@google-cloud/storage/node_modules/google-auth-library/build/src/auth/googleauth.js:161:19)
    at async GoogleAuth.getC

[2020-01-15 14:48] #163 closed

[2020-01-27 17:18] jamespedid commented on #163
@ahmck I'm having this same issue. Did you determine how to solve the issue, or did you abandon it?

[2020-01-27 19:28] ahmck commented on #163
Hey @jamespedid, I abandoned it. For local use I am now just running a container with nginx that serves files that are volume mounted.

[2020-01-28 01:03] jamespedid commented on #163
Cool. I think the problems are actually in the google-cloud/storage library myself. There are some functions that aren't respecting the apiEndpoint that you enter. I ended up switching to minio and I'm going to use that with the gcs gateway for non-developer environments.

[2020-02-06 23:22] fsouza commented on #159
Hi @ls-tommy-baloukas, thanks for reporting and apologies for the delayed response. Let's fix this :)

Can you share a reproducer so we can use it as a test to prevent regressions?

[2020-03-17 06:12] dependabot-preview[bot] opened #195 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/fsouza/update-logs/26543527).

[2020-03-17 07:12] #195 closed

[2020-03-19 23:16] WillRy opened #196 "Error - Download file"
Hello everyone,

Sorry to bother opening an issue, but I have a question about the implementation, because I'm having an error when trying to download a file.

When downloading the file with the code:

[code]

The error comes from: **newReader**

**Error:**
storage: object doesn't exist

If I access the file via URL, I can do it normally.

The repository for my application is this:
https://github.

[2020-03-20 15:25] fsouza commented on #196
Hey there, thanks for opening the issue and providing a reproducer! You need to set the public-host and use that in your client.

I've updated the Go example to show how to do that: https://github.com/fsouza/fake-gcs-server/commit/4ad5c60b79c955cebf0017a546e61672c23a7a26.

[2020-03-20 23:46] kc-panw opened #198 "python gcs client use generation as 0 when it is None, which is not supported/implemented yet."
GCS client forms the GET url with param `generation=0` which is not implemented in the server.
So, if it's not implemented, the quick fix may be replacing all

`if generationStr != ""`

to

`if generationStr != "" && generationStr != "0"`

so that it uses `Server.GetObject()`

otherwise, get/download object will fail. We can easily reproduce this by running example code.

Just wonder if `GetObject

[2020-03-20 23:51] kc-panw opened #199 "python gcs client will throw ValueError because of wrong timestamp format"
The python GCS client somehow takes its format very similar to RFC3339 but not exactly the same so it will throw.

The format it uses is actually:

`"2006-01-02T15:04:05.999999Z07:00"`

not

`time.RFC3339`

 would this be fixed?

[2020-03-21 00:59] WillRy commented on #196
This tool is extremely useful, thanks for the help

[2020-03-21 00:59] #196 closed

[2020-03-21 03:08] fsouza commented on #199
@kc-panw hey there, thanks for reporting this issue. It can definitely be fixed. Can you provide a reproducer, just so we can write a test to prevent regressions?

Thanks!

[2020-03-23 15:14] ltv511 opened #201 "Object retrieval fails with query path constructed by storage.NewReader()"
storage.NewReader() fails to read newly-created object. The reason is that the GET query path is constructed as "/bucket/object" in [storage.NewRangeReader](https://github.com/googleapis/google-cloud-go/blob/3e8951f5e3d821b4b0f8bcd2ab6b768a25b6f8b1/storage/reader.go#L107), and fake-gcs-server appears to only support paths like "/storage/v1/b/bucket/o/object".

Steps to recreate the issue are below

[2020-03-23 20:12] dependabot-preview[bot] opened #202 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/examples/go/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/fsouza/update-logs/27230116).

[2020-03-23 20:13] dependabot-preview[bot] opened #203 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/fsouza/update-logs/27230117).

[2020-03-23 21:12] #202 closed

[2020-03-23 21:12] #203 closed

[2020-03-25 08:44] reppets opened #206 ""prefixes" key is always in the response of Object:list even if it's empty."
version 1.18 (dockerhub image)

The responses of /storage/v1/b/bucket/o (Object: list) on the fake server have always "prefixes" key even when it's empty, while the genuine server's responses are without that key.
If "prefixes" is empty, fake-gcs-server returns "prefixes" key with an empty array.

For example (using Google's public bucket gs://gcp-public-data-landsat/ and same directory structure

[2020-03-25 17:42] #206 closed

[2020-03-25 17:48] fsouza commented on #206
Thanks for reporting! Just pushed a fix and tagged 1.18.1.

[2020-03-25 23:49] reppets commented on #206
Thank you for the fix and such a quick response!

[2020-03-27 22:56] dependabot-preview[bot] opened #208 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/examples/go/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/fsouza/update-logs/27791847).

[2020-03-28 00:50] #208 closed

[2020-04-07 19:45] Tyler-Gauch commented on #146
Hello @fsouza, I am looking to use this within a C# app. I believe the C# app also uses the GRPC API. I was wondering where you were on researching this. I may have some time coming up to help work on this, with research, coding etc, if needed, as others have pointed out this is really the only library available for emulating GCS.

[2020-04-09 16:50] pitrou opened #213 "fake-gcs-server eats all memory"
I've downloaded the v1.18.1 binaries version for Linux and launched the server like this:
[code]

Without even issuing a single request, fake-gcs-server started allocating a ton of memory and eating CPU, making my computer crawl:
[code]

I had to kill the process.

[2020-04-09 17:04] pitrou commented on #213
Uh, looks like it's because it loads data from `/data` by default... and `/data` is a 300GB file tree on my computer :-/

[2020-04-09 17:04] pitrou commented on #213
Closing as presumably not a bug...

[2020-04-09 17:19] fsouza commented on #213
Hi @pitrou, thanks for opening this. Perhaps we can disable pre-loading from any dir unless explicitly requested?

Will reopen to track.

[2020-04-10 04:16] #213 closed

[2020-04-10 07:21] pitrou commented on #213
Thanks for the quick response :-)

[2020-04-10 13:05] Terminator637 commented on #201
I got the same problem.

[2020-04-16 02:03] someone1 opened #214 "Deleting a bucket fails"
First off, amazing project! Much needed.

When I try and delete a bucket to cleanup after my tests, it fails:

[code]

I end up getting a panic:

[code]

[2020-04-16 03:01] someone1 commented on #146
Chiming in here to lend a few tips:

You can generate a server that fully implements the API quick using the [proto file](https://github.com/googleapis/googleapis/blob/master/google/storage/v1/storage.proto)

[code]

You should now have most of it ready to go, `server.go` contents (I did one as an example):

[code]

you can use something like cmux to host both the HTTP and gRPC server on the same

[2020-04-16 08:46] reaVen- opened #215 "Checking if a folder exists is not working as expected"
when connecting to googles endpoint by using
blob = storage.Blob(bucket=bucket, name="somefolder/")
fileExists = blob.exists() # true

however when overiding storage endpoints etc as explained in examples for python. and using the exact same code, fileExists is now false. It works as expected when checking for example 'name="somefolder/somefile.txt"'

[2020-04-16 20:31] someone1 commented on #201
I fixed this by running with `public-host=localhost` as part of the command line options, and my code connects to `https://localhost:4443`

[2020-04-17 04:14] Terminator637 commented on #201
Thank you! I found another closed issue with this problem https://github.com/fsouza/fake-gcs-server/issues/196

[2020-04-19 17:09] jonasfugedi opened #217 "gsutil cp bad request"
I need to test some bash scripts which run gsutil but I keep getting errors when trying to create objects using gsutil. The scenario I run is basically:

docker  run --name fake-gcs-server -p 4443:4443 fsouza/fake-gcs-server

gsutil -o "Credentials:gs_json_host=0.0.0.0" -o "Credentials:gs_json_port=4443" -o "Boto:https_validate_certificates=False" mb "gs://test"

gsutil -o "Credentials:gs_json_hos

[2020-04-20 02:27] nhoughto commented on #213
FYI This broke my build =) We were assuming not specified meant /data and were volume mounting into that path. I've fixed it now by specifying it :+1:

[2020-04-20 09:10] Fruzenshtein opened #218 "Error: Could not load the default credentials"
I was playing around with the docker `fake-gcs-server`. Based on nodeJS example from this repo, I copy-pasted the sample code and modified it a little:

[code]

When I run it, I got:

[code]

[2020-04-20 20:52] fsouza commented on #217
Hey @jonasfugedi, thanks for opening this issue. What do you see in the server logs?

[2020-04-20 20:54] fsouza commented on #215
yeah I think it's a known limitation of the fs backend that "directory" objects aren't supported, unfortunately :( We could use some special folder at the root for metadata and storing this kind of info, but right now it isn't supported :(

[2020-04-20 21:07] fsouza commented on #198
Hi @kc-panw, thanks for reporting and sorry for the delayed response. There aren't any plans for implementing `GetObjectWithGeneration()` at the moment, unfortunately.

Regarding generation being 0, I just pushed a fix.

[2020-04-20 21:16] fsouza commented on #214
Inded the server doesn't currently support deleting buckets. I'm surprised the official SDK panics though :thinking:

I wasn't able to reproduce locally:

[code]

Returns something like:

[code]

Either way, will keep this issue open for tracking the support for bucket deletion.

[2020-04-20 21:40] fsouza commented on #218
Hi @Fruzenshtein, thanks for opening this issue! This is interesting, the bucket creation succeeds but it looks like when you call ``bucket.file()`` the SDK doesn't persist the client configuration. You probably need to dig into their docs or source code on how to properly set that.

Closing as this appears to be an issue with the SDK, not the server.

[2020-04-20 21:40] #218 closed

[2020-04-21 06:04] jonasfugedi commented on #217
The logs did not give me any good clues. Is there any debug flag I can enable to get more details?

`docker run --name fake-gcs-server -p 4443:4443 fsouza/fake-gcs-server
Unable to find image 'fsouza/fake-gcs-server:latest' locally
latest: Pulling from fsouza/fake-gcs-server
aad63a933944: Pull complete
cff4c0a9b296: Pull complete
Digest: sha256:c4388cf0e1d5570ba2600575aebb909bec827c975b632533f6af1

[2020-04-21 14:45] fsouza commented on #217
@jonasfugedi thanks for sharing. I wanted to check where exactly the 400 was happening.

So:

1. gsutil is calling the /resumable/upload endpoint, which is not defined in fake-gcs-server. I couldn't find docs for that endpoint, so we may need to reverse engineer it from the client code or tapping into some requests
1. it appens that gsutil falls back to multipart upload and calls upload with [`upl

[2020-04-22 18:32] Ilchuk-Mihail opened #222 "Does that support storage events notifications ?"
Trying to implement [pubsub-notifications](https://cloud.google.com/storage/docs/pubsub-notifications) and receive notifications when new file is stored in bucket.

[2020-04-23 13:50] dependabot-preview[bot] opened #224 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/examples/go/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/fsouza/update-logs/30751213).

[2020-04-23 13:50] dependabot-preview[bot] opened #225 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/fsouza/update-logs/30751214).

[2020-04-23 14:45] #224 closed

[2020-04-23 14:45] #225 closed

[2020-04-29 19:34] ltv511 commented on #201
Excellent! I'll close this ticket then. Changing to the below docker-compose file fixes this example:
[code]

[2020-04-29 19:34] #201 closed

[2020-04-30 03:54] Szasza commented on #72
@fsouza Thank you for maintaining this library, it is much appreciated.

I would like to ask if this feature will be added soon. My use-case would be to use multiple buckets for simulating ETL pipelines locally using Airflow (Cloud Composer in GCP) while not having to pay for a k8s cluster and whatnot in GCP, where this feature is a missing piece.

Can work around it if needed, just asking.

Thank

[2020-04-30 14:05] fsouza commented on #72
@Szasza hi there. Thanks for pinging me, to be honest I had forgotten about this issue 🙈 The reason I didn't implement right away is because fake-gcs-server's test suite uses the Go SDK and the Go SDK doesn't support copying files with copyTo, I think, so I was lazy to implement a more sophisticated test 😁

I currently don't have any plans on implementing this feature, but I can take a look before

[2020-04-30 22:45] Szasza commented on #72
@fsouza Thank you for the quick response, much appreciated.

Yes, can do, no problem.

[2020-05-06 22:08] linjun9 commented on #198
Hi @fsouza, I ran into the same issue again by running the python sample code. The problem is you only update the `getObject` function, but there are `rewriteObject` and `downloadObject` as well.

Is there a reason that you don't want to update those two functions? Thanks in advance.

[2020-05-06 22:19] fsouza commented on #198
It was an oversight. Will push a fix, thanks for pinging me!

[2020-05-06 22:36] #198 closed

[2020-05-07 02:37] linjun9 commented on #199
yea, I'm getting the same problem. You can reproduce by running the following sample code.

The problem is it using RFC3339Microsecond in python GCS client, but it's using RFC3339 in `fake-gcs-server`. It requires following format `2006-01-02T15:04:05.999999Z07:00`
[code]

[2020-05-07 14:16] simondrake opened #237 "Object.NewReader doesn't seem to be hitting the right endpoint"
Firstly, thanks for the project!

I'm currently writing some integration tests, using the docker image, and there seems to be something wrong with the mapping from `Object().NewReader`.

Using the [Go example](https://github.com/fsouza/fake-gcs-server/blob/master/examples/go/main.go#L62-L69) returns an `unable to create new reader: storage: object doesn't exist` error.

Looking at the Docker logs,

[2020-05-07 14:23] simondrake commented on #237
## More information

I ran the docker image as described in the README:

[code]

And then ran the `main.go` file, exactly as is:

[code]

[2020-05-07 14:39] fsouza commented on #237
Hi @simondrake, thanks for opening this issue. For the example to work, you need to start the server with a `-public-host`: https://github.com/fsouza/fake-gcs-server/blob/8a565dd69148c760107f4c203e1462975dcbfe19/ci/run-go-example.sh#L7

Perhaps we can add a comment to the example mentioning it?

[2020-05-07 14:44] simondrake commented on #237
Ahh right, ok. Yeah that works, thanks 👍 I didn't actually want/need the data volume for my tests, so that was definitely the missing piece.

[code]

I'll raise a PR shortly to add that to the documentation.

[2020-05-07 15:12] simondrake commented on #237
To save me going through the code - can you give me a quick explanation of what that does, and why it's needed when using `NewReader` ?

[2020-05-07 23:46] someone1 opened #238 "Invalid response to empty pre conditions request"
The actual Storage JSON API will not error with a blank pre condition option, but fake-gcs-server does with : ` empty conditions`

[2020-05-07 23:50] someone1 commented on #238
Actually - could be due to lack of generation numbers in object returns, will reopen if there's an error here.

[2020-05-07 23:50] #238 closed

[2020-05-08 06:51] #237 closed

[2020-05-08 16:35] ericnorris opened #239 "Expected headers are not sent for ObjectHandle.NewReader()"
The [Reader](https://godoc.org/cloud.google.com/go/storage#Reader) you get from `ObjectHandle.NewReader` has an `Attrs` field of type [ReaderObjectAttrs](https://godoc.org/cloud.google.com/go/storage#ReaderObjectAttrs).

The `storage` library fills those values in based on headers sent in the response:

https://github.com/googleapis/google-cloud-go/blob/bd00477b309def1610fbf4cb259329deac795891/sto

[2020-05-11 02:44] fsouza commented on #239
Hi @ericnorris, thanks for reporting. Can you check if #240 fixes the issue for you?

Thanks!

[2020-05-11 02:49] fsouza commented on #237
Hi @simondrake, I apologize for not replying earlier. It seems that the go sdk uses an undocumented endpoint for downloading the file using the download host, which defaults to `storage.googleapis.com`. The server is actually configured to serve downloads with that host/url, but it only works within Go tests when you use a client obtained from the server.

For external access, you need to (1) teac

[2020-05-11 02:52] fsouza commented on #199
@linjun9 awesome, thanks for the reproducer! The fix for this is small (use ``time.RFC3339Nano` instead of `time.RFC3339`), but writing a test may be trickier. I can give it a shot later this week.

[2020-05-11 12:58] linjun9 commented on #199
@fsouza  I tryied `time.RFC3339Nano`. It doesn't work, since `RFC3339Nano` gives us 9 decimal places, we only need 6 decimal places. Not a Golang expert, but yea, feel free to try it out. Thanks 👍

[2020-05-11 18:00] someone1 commented on #239
I just conditionally added `Content-Encoding` - I don't think metadata generation is supported so I couldn't add that.

[2020-05-11 22:52] #239 closed

[2020-05-12 16:06] ericnorris commented on #239
Hey @fsouza, I just had a chance to test locally and it does seem to fix the issue. Thanks, and thanks @someone1 for the quick fix!

[2020-05-19 16:30] dependabot-preview[bot] opened #249 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/fsouza/update-logs/33764860).

[2020-05-19 16:46] dependabot-preview[bot] opened #250 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/examples/go/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/fsouza/update-logs/33764859).

[2020-05-19 18:30] #249 closed

[2020-05-19 18:31] #250 closed

[2020-05-25 06:31] anz-rfc commented on #201
For anyone trying else to get this to work locally, be aware that you need to configure `fake-gcs-server`'s `-public-host` to exactly match the the host used to configure `storage.NewClient` endpoint that is used to connect to the fake storage.

i.e. the following will NOT integrate:

[code]

[code]

as the server's mux config will not match "localhost" to the  "0.0.0.0" PublicHost value endpoint

[2020-05-25 06:33] anz-rfc commented on #237
See also earlier issue https://github.com/fsouza/fake-gcs-server/issues/201

[2020-05-25 06:39] anz-rfc commented on #201
Arguably, it might make configuration less error prone if `-public-host` was made a mandatory argument with no default, and the server `mux` routing was rewritten to use `public-host` as host for all endpoints, not just some of them, so if you didnt explicitly configure `fake-gcs-server` properly from the start then no api calls worked.    But perhaps that departs from how GCS API actually works (

[2020-05-28 19:32] ex-nerd opened #256 "Github Action?"
Are there plans to publish a version of this to the github actions marketplace?  I can whip up a version of this but it would probably make more sense for you to own the action's repository.

[2020-05-28 19:48] fsouza commented on #256
Hey @ex-nerd, thanks for opening this issue. I'm not sure what you mean though. Do you mean running fake-gcs-server as a service in a job? If so, you should be able to use the Docker image for that.

If not, what would the action do? fake-gcs-server is a long-running process, so it can't be used as a regular step (afaik steps are always sequential?).

[2020-05-28 20:11] ex-nerd commented on #256
@fsouza It would allow running of fake-gcs-server as a "service" within a github action.  You can see this one I set up for my employer for arangodb: https://github.com/xinova/arangodb-action

yes, it uses the docker image, but you still need provide github with a bit of information about the config. In the case of fake-gcs-server that would presumably mean some overrides for port number, "public"

[2020-05-28 20:16] ex-nerd commented on #256
Here's the official documentation: https://help.github.com/en/actions/creating-actions/creating-a-docker-container-action

Anyway, if you're interested, feel free to create an empty repo and I can submit a PR with some contents.  Then you'll have to log into the github action marketplace and register it.

[2020-05-28 20:17] fsouza commented on #256
Ohh I see you use Docker to start a dettached container, that's very interesting 😁  Yeah will keep this issue open for tracking the idea, but I don't think I'd be able to tackle this issue anytime soon, unfortunately :(

(I thought you originally meant a service like documented here: https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idservices, sorry about tha

[2020-05-28 20:40] ex-nerd commented on #256
@fsouza Like I said, I'm happy to contribute a PR if you want to host the repo.  I eventually need to get this hooked up for work, anyway.

[2020-06-01 02:02] fsouza commented on #256
Hey @ex-nerd, finally got to this. Can you take a look at https://github.com/fsouza/fake-gcs-action/pull/1? Does that make sense?

I haven't tested it yet, but I assume it would work? x)

[2020-06-03 03:23] ex-nerd commented on #217
I think I'm running into this same issue in my tests to create signed upload URLs. When using fake-gcs server I just return a "direct" URL without the signing key (since that I can't fake KMS stuff and this works for downloads).

My replication code looks something like this:

[code]

[2020-06-03 11:58] gh2k opened #263 "One-too-many bytes returned when supplying a range header"
I think this was introduced by #255 (cc @chowey)

When calling fake-gcs from my tests, I am receiving one more byte than expected. This was working in version `1.18.4`.

For example, I have a range header that sets `bytes=0-8` and it receives 10 bytes back...
[code]
yields an error because the client receives `hello worl`.

[2020-06-03 12:17] byF commented on #201
This definitely needs to be in the main readme, I spent so much time trying to figure this out.

[2020-06-03 21:58] chowey commented on #263
Strange. Do you have more test code that I can see to reproduce this?

[2020-06-03 22:32] fsouza commented on #263
Hey @gh2k, sorry for moving from bug to question, just trying to gather some info here: what is `rp.get` doing with the `Range` header? Is it forwarding it as is?

[2020-06-09 08:52] gh2k commented on #263
Ah, sorry. I had clearly not had enough coffee when I posted that. That's a snippet of an acceptance test that talks to my wrapper, which had been erroneously incrementing `end` by 1, rather than the bit that talks to GCS. :man_facepalming:

My implementation actually matched the buggy behaviour of `fake-gcs-server` and so the fix broke my tests. I'd assumed my app was doing the right thing, but I

[2020-06-09 08:52] #263 closed

[2020-06-11 23:36] anz-rfc opened #267 "partial responses using fields query parameter not implemented"
this issue is just to note one gap in behaviour between real GCS backend and this great fake-gcs-server : the fake server does not appear to implement partial response support using the fields query parameter, if given the fields query param appears to be ignored.

examples of behaviour of this working against GCS backend:

### expected response should only contain prefixes , no items

https://sto

[2020-06-12 23:25] ex-nerd commented on #256
Haven't forgotten about this ... just got stuck in the backlog of work stuff.

[2020-06-13 00:43] ex-nerd opened #270 "Internal Error when trying to upload with signed URLs"
Extracted from my (now-removed) comment on #217 since it seems to be related, but not identical to that problem.

I'm trying to mimic signed upload URLs. I know my code (with a URL generated by GCS/KMS) works against actual GCS but attempts to generate a URL that will work with fake-gcs-server results in `Internal Error`.

My replication code looks something like this:

[code]

This results in a r

[2020-06-13 02:55] ex-nerd commented on #270
One other minor point.  GCS returns a `204`  for signed POST requests, not a `200`

[2020-06-14 04:58] #256 closed

[2020-06-14 21:23] ex-nerd commented on #256
Just to confirm, this works great.  Thanks for setting this up.

[2020-06-17 04:02] ex-nerd commented on #270
Additionally, the upload seems to be pulling the `key` from the `name` query string property (similarly to `media`) or from the file metadata, rather than from the URL path itself.

A standard signed URL request looks like this:

[code]

I assume the key name is embedded in the signature (at least for verification purposes), but the bucket and key name are also right there on the URL. It would mak

[2020-06-18 04:13] ex-nerd opened #273 "Patch call with new content-type does nothing"
As far as I can see in the fake-gcs-server code, contentType is only set when the object is created, and can't be updated.

I'm using the official python gcs library, basically as follows:

[code]

The content-type value returned from the API request (buried in google's `patch()` method definition) is the original unchanged `application/octet-stream`, as is the content-type when trying to download

[2020-06-19 13:16] ncarenton opened #280 "[go-example] object doesn't exist"
Thanks for this project!

I can not make the go-example work, it finds the bucket but not the object:

[code]

The strange thing is that curl is working fine so the object is actually there:

[code]

It is also working fine with the python example:

[code]

[2020-06-21 05:12] fsouza commented on #280
Hey @ncarenton, thanks for reporting and apologies for the delayed response. Not sure if you noticed this comment in the example file: https://github.com/fsouza/fake-gcs-server/blob/c822c3b926f90755b38471be4b77d422d3623007/examples/go/main.go#L5-L9

In order for the downloads to work in the way the Go example expects, the server needs to be started with some flags.

[2020-06-21 18:08] ncarenton commented on #280
Hi @fsouza, no worries for the short delay :)

I actually did miss this comment, it could indeed be moved to `downloadFile()` for example, for better visibility.

Starting my docker container with `-public-host` does fix my issue! Still I would like to ask if it is possible to use a regular GCS client with the fake server, meaning without these 2 arguments:  `option.WithEndpoint("https://storage.g

[2020-06-22 15:14] fsouza commented on #280
I don't know if the Go sdk supports `STORAGE_EMULATOR_HOST` 🤔 Does it?

If the sdk supports that env var, we could support it in the emulator too, or figure out a way to bind to any host (not sure if it's possible because of conflicting paths).

[2020-06-22 20:29] ncarenton commented on #280
I guess so https://github.com/googleapis/google-cloud-go/blob/master/storage/storage.go#L104

[2020-06-22 20:38] fsouza commented on #280
Nice, in that case we need to look for that variable and if it's defined, bind in the proper port and use HTTP instead of HTTPs.

[2020-07-08 11:05] paualarco opened #283 "Anonymous Authentication in Java"
Hello!

There is no examples on how to use this emulator with a Java Application, do you know if it is even possible?
I have not found anything related with _Google Anonymous Credentials_ from the Java api...

[2020-07-09 15:29] fmeyszies commented on #283
I second this. Spend the better part of the day trying to get this fake-gcs-server to run with the Java Library. Always end up with
[code]

when I try to access a file.

I tried a bunch of different configurations like
`StorageOptions.newBuilder().setCredentials(NoCredentials.getInstance()).setProjectId("test").build().getService();`

[2020-07-09 15:35] fsouza commented on #283
Hi there, I'm not very familiar with the Java sdk, but from previous issues it seems that the Java SDK uses gRPC? Also, that error indicates that the SDK is likely trying to authenticate directly with Google API, as fake-gcs-server doesn't handle any authentication and never returns a 401.

See #146, #84 and #142.

[2020-07-09 16:34] fmeyszies commented on #283
Yeah you are right, google sadly didn't lead me to the issues you mentioned, thank you very much for the clarification. Might be that same issue. I use the docker version of the fake-gcs-server, the fix described in #146 will most likely not be feasible in our current setup. bummer! Thank you anyways for developing the fake server in the first place, doing gods work there.

[2020-07-16 16:38] fsfarah commented on #218
Hi, I found out that adding `{resumable:false}` when creating a writestream works
source: https://github.com/googleapis/nodejs-storage/issues/898

[2020-07-21 03:52] #199 closed

[2020-07-27 10:38] rcastagno commented on #283
Been able to do it with something like this:

[code]

Still having some problems with upload, but that's a different issue I suppose.

[2020-07-27 16:25] paualarco commented on #283
Indirectly related to this issue:
The java library [java-storage-nio](https://github.com/googleapis/java-storage-nio) provides an emulator for the GCS, in case you are interested on using it, there is some documentation on how to get started with it in the monix-connect google cloud storage documentation page: https://connect.monix.io/docs/gcs#local-testing

[2020-07-27 16:52] bkhanale opened #296 "Issue with the filesystem backend"
I'm trying to upload files to a local filesystem. As I upload they get saved to the root dir but once I'm done with the server and I close it and start again when needed. Unfortunately when I restart server all of the `/download/...` links don't return the data correctly. For example when I uploaded an `.mp3` file with `Content-Type: audio/mpeg` and tried to download it through the endpoint I just

[2020-07-27 20:59] fsouza commented on #296
Hey, thanks for reporting this issue.

If you save the file locally is the content correct? Like can you play the mp3 file if you curl it?

Do you have a simple reproducer? I can check this out later today.

Does it work if you use the memory backend?

[2020-07-28 06:36] bkhanale commented on #296
I can't, it just saves the whole thing as a json. Like this [here](https://paste.bhushan.codes/?56ca37895f305f3c#3CvZcsqX2ZFdsMn7HdXVLGDNtWRtisQRobBU9qmwC2VT). I don't know if it is supposed to be saved that way. The filename is correct though.

Yeah, so I'm uploading the file like this:

[code]

This uploads the file fine, I can see the file in my media dir. On requesting to download the file thr

[2020-07-28 14:15] fsouza commented on #296
@bkhanale gotcha, I think the filesystem backend doesn't persist metadata currently, we need to implement that :(

[2020-08-05 06:52] charleskorn opened #299 "Support for preconditions"
Does this server support preconditions? (https://cloud.google.com/storage/docs/generations-preconditions#_Preconditions)

I've tried adding the following to my upload code:

[code]

But the server always overwrites the object, even if it exists, instead of returning a HTTP 412 response. I can see that the upload URL contains `ifGenerationMatch=0` in the server's logs.

[2020-08-06 11:53] yiyue115 opened #301 "Do you have alpine distribution?"

[2020-08-06 14:22] fsouza commented on #301
Hi @yiyue115, thanks for opening the issue. Not sure what you mean, do you mean the Docker image? If so, it's already based on Alpine.

[2020-08-06 14:26] yiyue115 commented on #301
Hi Francisco, Thanks so much for the kind reply.. Sorry if this is a potential dumb question as I'm still quite new to docker. I can't seem to find it on https://pkgs.alpinelinux.org/packages

Do you know any chance I could not pull it from the Docker public registry?

[2020-08-06 14:30] fsouza commented on #301
Ohhh gotcha. Yeah I don't think there are any packages for alpine or any other distros currently :/

I personally don't know how to craft such packages and publish them, but I'll leave this issue open so we can track it.

[2020-08-25 01:07] StephenWithPH commented on #217
I'm having a similar problem with `gsutil cp`. I did some digging. I think you are correct.

`gsutil -DD cp ...` enables debugging. I was able to capture the headers. In my case, they were:
[code]

https://stackoverflow.com/questions/43527820/mime-parsemediatype-fails-on-multipart-boundary gave me enough of a clue to mess with `'` -> `"` (thanks, Python?), and that seems to fix it. See https://pla

[2020-08-25 15:31] Harjot1Singh opened #311 "Node example SSL Error"
When trying the example in node 10.16.0: `Error: error:09091064:PEM routines:PEM_read_bio_ex:bad base64 decode`.

I'm unable to get it to work. Any ideas? I assume it's something to do with SSL. I'm on Mac.

Trace
[code]

[2020-08-25 15:41] Harjot1Singh commented on #311
I think this might be more related to Docker/module installation. Will investigate further, because I can get it to work if I don't run the example in a Docker container.

[2020-08-25 15:41] #311 closed

[2020-08-25 18:04] Harjot1Singh commented on #311
For anyone who encounters this, do not supply a dummy `GOOGLE_APPLICATION_CREDENTIALS` environment variable. The `@google-cloud/storage` will attempt to use it.

Completely unrelated to the fake gcs server :)

[2020-08-26 22:30] fsouza opened #313 "Generate Crc32c and Md5Hash when seeding from disk"
When loading objects from disk, we should also calculate the proper crc32 check and the md5 hash.

[2020-08-27 05:05] someone1 commented on #299
Yikes, the `v.1.20.0` release was a breaking one - all my tests started to fail. Glad to see some progress being made on this but maybe we can keep the original behavior of allowing the request through vs a 501 response?

[2020-08-27 05:23] someone1 commented on #299
A quick follow-up: was the implementation in #300 the correct placement for such a feature? The generation feature seems backend dependent (e.g. the memory backend supports file generations whereas the file backend does not). Would it have made more sense to expand the `Storage` interface with a `CreateObjectIfGenerationMatch` or something to be used instead of `CreateObject` as needed, or expand

[2020-08-27 07:13] antonydenyer commented on #313
This is a broader topic than just calculating hashes.

Currently when using a preloaded data from disk data is fetched at execution time. ie when you call the `ListBuckets` endpoint the function will read from disk at the point in time. Subsequent calls to `ListBuckets` will just read from disk again. You could have the scenario where folders/buckets are created without going through the `createBu

[2020-08-27 07:28] antonydenyer opened #315 "Crc32c and Md5Hash do not match hashses created from GCS"
When hashing the file the hash does not match the one generated by GCS. To reproduce the problem upload a file to GCS and upload the same file to fake-gcs-server. Fetch the object and look metadata and you will notice a different MD5 hash.

You can also reproduce this locally with `gsutil hash -m`

Essentially:

`encodedMd5Hash([]byte("content1")) == "myuzIfXdGoeFfrh1ziL34Q==`

https://github.com/

[2020-08-27 11:00] fsouza commented on #299
Ugh, sorry about that :(( We should expand our shared tests to cover more behaviors. I'll make sure to keep an eye for that in the future (most of my use cases are using the memory backend :/).

I feel like extending the backend's CreateObject method is the best approach here, the same way we extended CreateBucket to pass versioningEnabled.

[2020-08-27 11:15] fsouza commented on #315
@antonydenyer can you share the script or commands you're using to upload the files? Like, is the process to upload to GCS and fake-gcs-server exactly the same? `"myuzIfXdGoeFfrh1ziL34Q=="` is not the correct hash for `"content1"`, it's the hash for `"content1\n"`:

[code]

[2020-08-27 11:16] fsouza commented on #315
(perhaps there's a bug in our backend and it's not preserving the new line at the end of the file, I'll double check that)

[2020-08-27 11:28] antonydenyer commented on #315
I take it back! Can't reproduce, must have fat fingered a newline during initial testing.

[2020-08-27 11:28] #315 closed

[2020-09-19 01:14] coryan opened #331 "Consider XML support for object PUT/GET"
First, thank you for writing this!

Some client libraries (e.g. [C++](https://github.com/googleapis/google-cloud-cpp)) automatically switch to XML for some uploads and downloads.  You may want to consider supporting the XML APIs to insert and download objects.  In case it helps, our testbench implements these. These are the entry points, hopefully the code is not so terrible that you can follow it

[2020-09-19 13:27] coryan opened #332 "Object metadata should be optional in resumable uploads"
When starting a resumable upload the body with object metadata is optional. And at least the C++ client library takes advantage of this.  The documentation is not explicit, but there are examples in the documentation that do not use a body:

https://cloud.google.com/storage/docs/performing-resumable-uploads#json-api

An equivalent request fails with `fake-gcs-server`:

[code]

[2020-09-30 01:52] yiyue115 commented on #280
Hello 😃  Actually I faced a similar issue as well cuz I missed that comment 😛
Is there any update on this one?

[2020-10-02 12:38] lapep commented on #283
There is an _easier_ way (I believe) to set up the Java client in order not to use SSL authentication: a custom instance of HttpTransportFactory needs to be created where Http transport without authentication is built.

Code bellow is in Scala, but in Java it would look almost the same:

[code]

And then it can be supplied to HttpTransportOptions builder:

[code]

[2020-10-02 17:01] paualarco commented on #283
@lapep awesome, have you tried if it is compatible with the `fake-gcs-server`?

[2020-10-05 12:40] lapep commented on #283
@paualarco Unfortunately, It looks like the Java client is not supported by `fake-gcs-server`.

Found the same error I am getting with Java client when browsing Github Issue page: https://github.com/fsouza/fake-gcs-server/issues/142

[2020-10-13 20:00] rogierlommers commented on #201
How does this work with the `docker run`-example? Can we somehow add this `-public-host` flag to the docker run command?

[2020-10-13 20:11] ltv511 commented on #201
You should be able to do this by overriding the entrypoint (https://docs.docker.com/engine/reference/run/#entrypoint-default-command-to-execute-at-runtime). Something like this (although I haven't tested it):
[code]

[2020-10-14 06:09] rogierlommers commented on #201
Thanks for your suggestion, unfortunately I get an error:

[code]

Which is strange, because indeed the file exists within the container. For some reason it looks like the additional cli flags are messing this up. Any other suggestions?

[code]

[2020-10-14 06:23] rogierlommers commented on #201
Never mind, turns out that entrypoint and (optional) additional command line flags need to be separated. Not very user-friendly of the docker-cli in my opinion. But hey... it works 👍 .

For future reference:

If you do this:
[code]

[2020-10-19 07:46] batara666 opened #344 "can i use this on production, as GCS replacement"

[2020-10-19 13:12] jeantil opened #346 "Resumable upload fails with 400 using nodejs client."
While working on #345 I was unable to make the default `file.save(...)` call work and was forced to add `{ resumable: false }` to make it pass.

The error was:
[code]

Running the script in a debugger yields an HTTP 400 error on the following request
[code]
result in
[code]

[2020-10-20 02:51] fsouza commented on #344
You certainly _can_, but definitely shouldn't. This is designed for tests and given its intent, I find it unlikely that I would take PRs improving fake-gcs-server as a real world replacement to GCS.

For production, you could in theory use some open source object store, such as minio or Swift, as long as you stick with the S3 API (iirc GCS has partial support for the S3 API).

[2020-10-20 09:02] batara666 commented on #344
i got 15TB on my storage, i may use it just 60% of total, is that okay ?

[2020-10-21 16:00] jeantil opened #349 "Incorrect handling of paths which start with a /"
I have updated the sample in #345 to add the ability to log http requests.

According to the [documentation](https://cloud.google.com/storage/docs/naming-objects) object names must adhere to some rules but may start with a /
While I don't expect this project to fully follow the naming rules in the documentation, incorrect handling of paths which start with a / is problematic because such paths are

[2020-10-22 18:10] #344 closed

[2020-10-28 14:05] viAtom opened #355 "SSL certificate and secure calls"
We're using Node.js and based on the example, we should set the env var `NODE_TLS_REJECT_UNAUTHORIZED` to `'0'` to disable SSL checks. Unfortunately, it triggers this node warning :
`Warning: Setting the NODE_TLS_REJECT_UNAUTHORIZED environment variable to '0' makes TLS connections and HTTPS requests insecure by disabling certificate verification.`

I don't think there is much to do client-based a

[2020-10-28 14:46] fsouza commented on #355
@viAtom you should be able to use http instead. For that you need to:

- start the server with `-scheme http`
- update the calling code to use `http://<host>:<port>` as the endpoint

Like, assuming the server is running on port 8080, you should be able to do something like this:

[code]

[2020-10-31 14:42] viAtom commented on #355
Thank you, it worked with this docker-compose config and your code, my CI thanks you too 🙏

[code]

[2020-10-31 14:42] #355 closed

[2020-11-26 15:30] mheffner opened #371 "Invalid Request when calling create_file with Ruby GCS SDK"
When using the [googe-cloud-storage](https://rubygems.org/gems/google-cloud-storage/versions/0.20.0) Ruby gem, version 1.29.1, to try and upload a file to fake-gcs-server we are seeing an Invalid Request error. This is the request as seen from the fake-gcs-server logs:
[code]
It would appear that we are hitting this error case:
https://github.com/fsouza/fake-gcs-server/blob/e8bd4c7f4a67f6c06a70e73

[2020-11-28 17:02] mheffner commented on #371
Digging further on this, the implementation stems from the ResumableUpload protocol here: https://github.com/googleapis/google-api-ruby-client/blob/master/lib/google/apis/core/upload.rb

I did not see it documented for GCS, but it does seem to closely mirror the protocol documented for the Photos API: https://developers.google.com/photos/library/guides/resumable-uploads

I was able to spike enough

[2020-11-28 17:08] mheffner commented on #371
PR here: https://github.com/mheffner/fake-gcs-server/pull/1. Not pulled on this repo as it requires some lint fixes first.

[2020-11-30 15:49] fsouza commented on #371
There are other undocumented things that we support here, so this should be fine 🙈 I merged your other PR and cleaned up the main branch, please feel free to send your PR :D

Thank you very much for reporting and investigating it!

[2020-11-30 20:57] mheffner commented on #371
Thanks @fsouza , I'll clean it up and submit it soon.

I did finally find this, though it doesn't provide a lot more context. :laughing: https://github.com/googleapis/google-api-ruby-client/issues/311

[2020-12-08 21:46] OrangeFlag commented on #280
Hello, in my case I have set the correct external-url and public-host for my docker container, but when I call fake-gcs from the local machine, I also get a 404

I used wireshark and realized that the requests differ only in the Location field.
Wouldn't it be nice to reply based on the Location being sent and remove the external-url and public-host?
So it would be possible to call the service from

[2020-12-09 19:52] dnatic09 commented on #142
Hey Team. I have been investigating this issue. I am leaning towards a gzip compression issue. I am digging through the Java code and it clearly looks like HTTP. Furthermore, the \x1f is likely a character you would see in a gzipped POST payload over HTTP.  See screenshot attached.

![image](https://user-images.githubusercontent.com/6172757/101680094-3494b680-3a2e-11eb-867a-e908280fa532.png)

[2020-12-09 19:59] dnatic09 commented on #142
@fsouza , a follow-up. I simply hacked the debugger and set `this.disableGzipContent` to `true`. The request WORKED! So, the Fake GCS server is failing to decode gzipped content. Either we need to find a way to disable gzip encoding in the SDK or the GCS server needs to parse the `Content-Encoding` HTTP header and decompress the data. Can we do this?

[2020-12-10 05:21] flylo commented on #142
@dnatic09 I've made a bit of progress based on your finding.

I was able to patch the `HttpStorageRpc` class and use reflection to add a request initializer to the google HTTP client:

[code]

I then specified a custom `ServiceRpcFactory` alongside the custom TransportFactory defined above:

[code]

This allowed me to successfully create both buckets and blobs using the generated storage client:

[2020-12-10 14:03] dnatic09 commented on #142
@flylo , great work here! I think we may get some traction. Getting Google to accept a PR will likely be difficult. On the flip side, there are only a handful of methods that need to be changed on the server to check for the `Content-Encoding` header, verify that the content is indeed GZIP encoded, and then inline-decode the content prior to JSON parsing.

I am not familiar in GO, but I imagine it

[2020-12-10 14:27] flylo commented on #142
@dnatic09 Sorry for the confusion... when I said "server-side", I meant the server inside of this GCS emulator. The problem I'm running into now is this...

The response we get from the emulator for creating a `StorageObject` is missing the bucket-name:
[code]

Which results in a `NullPointerException` when we try to parse the response on the receiving end:
[code]

Specifically, it fails the `chec

[2020-12-10 14:46] dnatic09 commented on #142
@flylo , I ran into the same problem. The funny thing is that you get an NPE, but the file is actually in the fake GCS server and can be pulled. I already tested it. We should definitely help fix it, but there is definitely a path forward here.

[2020-12-10 20:58] flylo commented on #142
Have made it a little further, but now we're running into issues where the golang server is returning uppercased field names that the java JSON parser doesn't catch:

[code]

I'm looking for a way to set global JSON-serialization settings but haven't found it yet.

[2020-12-10 21:38] dnatic09 commented on #142
@flylo , GOT IT !

Follow this: https://github.com/fsouza/fake-gcs-server/blob/297b8cdcd2f8fac8652f8b20c023ececb1c368b1/fakestorage/response.go#L35-L39

Then, you can change how the field is serialized. We do this and the casing will align!

[2020-12-10 22:00] flylo commented on #142
@dnatic09 nice! Yeah if there's no way to specify a global serialization option (like how you'd inject an `ObjectMapper` into your REST server in java), then we'll have to patch some of the google-owned structs. I patched `ACLRule` struct and added my own serialization names, which un-blocked the specific test-case I was working on. That being said, I'm sure there's others. @fsouza if you know of

[2020-12-10 22:07] dnatic09 commented on #142
@flylo , I think Java users around the world would be WAY better off with just create-bucket and put-file functions working. The rest can be tacked on later. Your help is MUCH appreciated. There is no way I could have gotten to this anytime soon. I am so backed up with work.

[2020-12-11 23:23] steezeburger opened #381 "Signed URLs?"
Hey thanks for the docker image! I got everything running locally, but I'm curious, does this support generating signed upload and download URLs?

[2020-12-15 00:11] leedo opened #384 "Object attr does not include an Etag value"
It would be handy if the Etag attribute were populated. It seems that GCS will set this automatically, and it is read-only.

[2020-12-20 02:46] kenniaa commented on #381
It does in fact support signed URLs.

There should be no additional setup on the `fake-gcs-server` side outside of creating the bucket. If you run into CORS issues over unsupported headers, you can pass in the `-cors-headers` flag with a list of comma separated headers.

[2020-12-22 23:38] fsouza commented on #381
@steezeburger signed urls are generated by the client and as far I understand they only have some extra querystring parameters which we ignore, so yes they should work. There's no validation of the signature though, so if you're using this to test that your client signs the URL correctly you may want to use a different strategy.

[2020-12-22 23:38] #381 closed

[2020-12-22 23:44] fsouza opened #388 "Support for gzip"
Noticed while debugging #142 that the Java SDK uses gzip, so we want to support that.

Can probably just use https://github.com/nytimes/gziphandler?

[2020-12-22 23:46] steezeburger commented on #381
Thanks @kenniaa and @fsouza

I realized I was also needing a mock of the cloud storage SDK, not just the endpoints. This library is still super helpful though, I just misunderstood my needs and what this repo solves. Thanks again for the work and replies!

[2020-12-22 23:50] fsouza commented on #142
hey @flylo @dnatic09 thanks for looking into this and apologies for being absent. So a quick of notes / questions:

- yes we can definitely support gzip, I don't think it would be too hard (opened #388 to track it)
- regarding the JSON fields, it's kind of a mistake that we're embedding a third-party field in our response, we should fix that (moreover, I just had a quick look and the package we're

[2020-12-22 23:52] fsouza commented on #381
@steezeburger no problem, I'm sorry it took me so long to get to this (EOY productivity slump heh). Feel free to open new issues in the future if you have questions! :D

[2020-12-22 23:58] fsouza opened #389 "Avoid direct dependency on Google's deprecated SDK"
Another thing we noticed while debugging #142: we're embedding a type from `google.golang.org/api/storage/v1` in [objectResponse](https://github.com/fsouza/fake-gcs-server/blob/3497ef906a2c5452c4e051244f6ae705abae269f/fakestorage/response.go#L68-L84). So, first, embedding a type from a third-party package in a struct that gets JSON-serialized is just bad, because we can't control the serialization

[2020-12-23 00:15] #371 closed

[2020-12-23 00:26] #388 closed

[2020-12-23 03:15] flylo commented on #142
@fsouza I'm not sure why that was happening if the google go library defines the struct tags... Maybe it has something to do with the fact that you're [serializing an array](https://github.com/fsouza/fake-gcs-server/blob/297b8cdcd2f8fac8652f8b20c023ececb1c368b1/fakestorage/response.go#L77) of those `ObjectAccessControl` instances? That's the only difference I could see.

[2020-12-23 12:56] dnatic09 commented on #142
@fsouza , I noticed that you closed #388 . Was that on purpose or did you take care of it under a different issue?

[2020-12-23 13:07] fsouza commented on #142
Yes, gzip should work now as of https://github.com/fsouza/fake-gcs-server/commit/f1a575d61f36eec5addd0d5dd3931dc1748813a6

Can you give it a shot and let me know if you have any issues?

[2020-12-23 13:54] dnatic09 commented on #142
@fsouza , can you trigger a DockerHub push?

(Push image 1.22.0 as a docker tag in DockerHub)

[2020-12-23 13:56] fsouza commented on #142
@dnatic09 ohh it should be there, it's supposed to be automatic. I'll check what's up with github actions.

[2020-12-23 14:17] dnatic09 commented on #142
@fsouza , no joy.
![image](https://user-images.githubusercontent.com/6172757/103004300-a1fd1880-44ff-11eb-921d-6e57c5af626a.png)

I purged `latest` from my MacBook. Verified the new digest.

[code]

[2020-12-23 14:24] fsouza commented on #142
@dnatic09 do you have a small reproducer that I can run locally? This way I can figure something out that will definitely work (+ maybe add it as a runnable sample in CI).

I'm afk right now, but I'll try to fix this later today once I get to the computer (and figure out what's up with the automatic tagging)

Thanks for checking back!

[2020-12-23 14:28] dnatic09 commented on #142
I can make a reproducer overnight. I will message back when it is ready.

[2020-12-24 17:34] dnatic09 commented on #142
@fsouza  (@flylo ), I got it.

https://github.com/dnatic09/Fake-Gcs-Test

Just clone and run `mvn test` .

One test will pass (rigged CURL).
One test will fail due to GZIP (using library).

[2021-01-04 12:50] dnatic09 commented on #142
Hey team. Just checking in. Any updates?

[2021-01-04 15:02] fsouza commented on #142
Hey @dnatic09, sorry ended-up taking an extended break but I'm back this week. I'll look at your example later today or tomorrow and see if I can figure out what's up.

[2021-01-04 15:18] dnatic09 commented on #142
No worries. Today is my first day back into work since Christmas. Completely understand. Thank you again for engaging on this.

[2021-01-11 04:40] azoom-l-v-long opened #392 "Access control list in fake-gcs-server"
**First, thank you for writing this!**

**Currently, I want to use fake-gcs-server in a local development environment and t need some features for your company's projects.**

1. upload file: worked
2. copying, renaming, and moving objects: ……
3. get singed url: not working
4. using acl to restrict access level: not working

but for item 3, 4 does not work properly with my wishes
here, I use addAll

[2021-01-20 09:43] fdescamps commented on #222
Hi,

Did you succeed to listen storage triggers event (like an upload on a bucket) please ?

Thanks

[2021-01-20 10:03] Ilchuk-Mihail commented on #222
@fdescamps It was not possible there, so I ended up using my custom solution. (lib which stores files in tmp folder and fire pubsub event)

[2021-01-20 10:06] fdescamps commented on #222
Hi,

Thanks for your quick answer.
I'm pretty "sad" about this unavailable feature :/
If anyone manages this, I would like to have some tips.

Regards,

[2021-01-20 10:11] Ilchuk-Mihail commented on #222
I see there opened pull request https://github.com/fsouza/fake-gcs-server/pull/370 with this. Hope they will merge it soon.

[2021-01-21 10:02] ChrisWhealy opened #397 "Docker gRPC FUSE + Large file in Docker bind mount = Memory leak"
I think this issue is more of a gotcha that should be documented rather than a bug in the coding...

I need to use `fake-gcs-server` for serving up some CSV files.  Most of these are pretty small (< 2Mb), but one is >6Gb

If I start the container with `data` bind mounted to the directory containing only the small CSV files, then everything is fine.  However, if I add the very large CSV to the bind

[2021-01-21 12:56] fsouza commented on #397
What command are you running to start the container? Are you using the memory backend?

[2021-01-21 13:45] ChrisWhealy commented on #397
I'm starting the container with the command

`docker run -d --memory=16g --name fake-gcs-server -p 4443:4443 -v ${PWD}/data:/data fsouza/fake-gcs-server:latest`

The Docker VM is set to use 20Gb and "Use gRPC FuSE for file sharing" is switched off

[2021-01-25 10:38] gnarea commented on #346
I ran into this issue, but instead of getting a `400`, the `file.save(...)` just hung. I fixed it by passing `resumable: false`.

[2021-02-01 02:57] fsouza commented on #142
Ohhh I see what's the problem here. I enabled compressed responses, but compressed requests are not standard and we have to implement it manually. Ugh.

[2021-02-01 03:42] fsouza commented on #142
@dnatic09 tests are passing now 😁

[code]

I was able to include a test for this, so will skip adding a Java example. Closing this issue for now, feel free to reopen or to open a new one if something doesn't work for you.

[2021-02-01 03:42] #142 closed

[2021-02-04 20:21] oittaa opened #410 "Setting blob.custom_time doesn't work, returns always None"
I have a piece of code like the following:
[code]
If I set `custom_time` before uploading, even the real Google server erases it from the blob. That's why I patch it after the upload. The fake server unfortunately loses it even after `patch`.

[code]
results in `None`

[2021-02-04 21:53] oittaa opened #411 "Batched commands don't work"
For example you can't delete multiple blobs in a batch like you can with the actual the Google service. Test case below.
[code]

Output:
[code]
The expected result is an empty bucket.

[2021-02-05 02:47] oittaa commented on #410
To me it looks like the `Custom-Time` is completely missing from objects. https://github.com/fsouza/fake-gcs-server/blob/297b8cdcd2f8fac8652f8b20c023ececb1c368b1/fakestorage/object.go#L25-L43

https://cloud.google.com/storage/docs/metadata#custom-time
https://pkg.go.dev/cloud.google.com/go/storage#ObjectAttrsToUpdate

[2021-02-06 18:07] oittaa commented on #410
The original Google Cloud issue about missing `custom_time` before patching is tracked here. https://github.com/googleapis/python-storage/issues/372

[2021-02-06 19:46] oittaa opened #416 "`deleted` metadata always returned even when it shouldn't exist"
1. Create an object.
2. Fetch it and see that there's `"deleted":"0001-01-01T00:00:00Z"`

Python even throws an error `ValueError`as it doesn't match with the regex.

https://cloud.google.com/storage/docs/json_api/v1/objects

"The deletion time of the object in RFC 3339 format. Returned if and only if this version of the object is no longer a live version, but remains in the bucket as a noncurrent

[2021-02-07 16:10] #389 closed

[2021-02-08 13:49] naseemkullah opened #417 "where do uploaded files go?"
Hello, thanks for this great tool!

My tests generally create data via uploads to buckets and then perform subsequent downloads of those files created in test.

However although the upload succeeds to the fake-gcs-server, i cannot subsequently download the file, is this expected behaviour or am I doing something wrong?

THanks!

[2021-02-08 21:25] fsouza commented on #417
Hi @naseemkullah, can you share the code of what you're trying to do?

Files are stored either in memory or disk, but with either storage backend users should be able to retrieve objects after uploading them

[2021-02-08 21:30] naseemkullah commented on #417
Good to know that uploaded files should be retrievable in either the memory or filesystem backends!

Stay tuned for a code snippet! Thanks.

[2021-02-11 11:29] ChrisWhealy opened #419 "String format of text files larger than 1400 bytes get mangled"
In Kotlin, if I stream a text file larger than 1400 bytes, then the string data becomes mangled and is no longer in US-ASCII format.  If the file is up to 1400 bytes long, then everything works.  If the file is 1401 bytes or more, then the data is mangled

Using version `latest`, with the test code shown below, the variable `bufferAsString` receives

�      ��R]o�@|����^���<"�4�R��UUe-�B�:��>�

[2021-02-11 12:43] fsouza commented on #419
Oh interesting, thanks for reporting. I assume it has to do with gzip. Will investigate.

[2021-02-12 20:46] tarsisazevedo opened #420 "Response comply with API for object insert"
I am using java's gcs client and it expects some data from the response that fake-gcs-server dont provide. I think api should send a response with data expected, like described in this document https://cloud.google.com/storage/docs/json_api/v1/objects#resource

If you are ok with that, I can send a PR to fix this issue.

[2021-02-12 21:07] fsouza commented on #420
Go for it. I assume we have all the data? Let me know if you run into any issues.

[2021-02-15 04:07] nhatmvo opened #422 "Correct way to call multi-part request"
I use postman to test the gcs and this is my curl:
`curl --location --request POST 'https://localhost:4443/upload/storage/v1/b/sample-bucket/o?uploadType=multipart&name=readme.txt' \
--header 'Content-Type: multipart/form-data' \
--form 'file=@"<FileLocation>"'`

The content of my file is: `Sample text`
and the response keep telling me that:

So, what is the correct way to send multi-part request

[2021-02-15 04:28] fsouza commented on #422
Google Cloud Storage doesn't support `form-data`. The emulator matches the GCS API. This page should have more information: https://cloud.google.com/storage/docs/uploading-objects#rest-upload-objects

[2021-02-15 04:40] nhatmvo commented on #422
Hi @fsouza, thank you so much for a quick reply.
Anyway, I changed the Content-Type into another value, and my request is:

`curl --location --request POST 'https://localhost:4443/upload/storage/v1/b/sample-bucket/o?uploadType=multipart&name=readme.txt' \
--header 'Content-Type: text/plain;boundary=test' \
--data-binary '<FileLocation>'`

but I get this error:

I'm wondering what's wrong with my r

[2021-02-15 04:52] fsouza commented on #422
The body must contain metadata in json format separated by the boundary: https://cloud.google.com/storage/docs/uploading-objects#single-request-upload-that-includes-object-metadata (this link will let you fill-in the data)

So in your case your file would need to have content that looks something like this (untested):

[code]

[2021-02-15 06:14] nhatmvo commented on #422
Thank you so much!

[2021-02-15 06:14] #422 closed

[2021-02-15 22:28] fsouza commented on #417
Closing as this was a question. Please feel free to reopen or open new issues in the future if other questions or issues come up!

[2021-02-15 22:28] #417 closed

[2021-02-15 22:30] fsouza commented on #411
Indeed batch requests aren't supported currently. Marking as help wanted in case someone wants to contribute.

Relevant docs: https://cloud.google.com/storage/docs/json_api/v1/how-tos/batch

[2021-02-15 22:32] fsouza commented on #416
Thanks for reporting. If I remember correctly, we saw this issue with other datetime fields. Probably something we missed in `deleted`.

[2021-02-15 22:40] fsouza commented on #419
Hi @ChrisWhealy, I don't know much about Kotlin, but I assume using the Java sample provided by @dnatic09 in #142 should be equivalent here? (just need to write more data and try to read it)

Either way, I think this is related to gzipped responses, which is something we don't really _have_ to support. Can you try your code with #426 (you should be able to checkout that PR locally then build it wi

[2021-02-15 22:46] fsouza commented on #410
Thanks for reporting and linking the docs!

[2021-02-15 22:47] fsouza commented on #392
Not sure how ACLs would work if there's no auth? Can you elaborate?

[2021-02-15 22:47] naseemkullah commented on #417
Ok thanks!

[2021-02-15 22:51] fsouza commented on #116
Closing as stale. Feel free to reopen if needed.

[2021-02-15 22:51] #116 closed

[2021-02-15 22:53] fsouza commented on #137
Looks like this is fixed in #125. Feel free to reopen otherwise.

[2021-02-15 22:53] #137 closed

[2021-02-15 22:53] fsouza commented on #146
Turns out the Java SDK issues were not related to gRPC, but rather gzip. Will leave this open though.

[2021-02-15 22:54] fsouza commented on #159
Closing as stale.

[2021-02-15 22:54] #159 closed

[2021-02-15 22:56] #215 closed

[2021-02-15 23:00] fsouza commented on #283
Java should be working now that #142 is closed. Authentication is not something fake-gcs-server can handle though, you need the anonymous clients. Closing this, but feel free to reopen this or a new issue in case of questions or issues!

[2021-02-15 23:00] #283 closed

[2021-02-15 23:01] fsouza commented on #296
(I think this maybe due to how we store the actual file content. Need to revisit, maybe use base64 for bytes, idk)

[2021-02-15 23:02] fsouza commented on #301
Closing because it's not our goal to track OS packaging here. I can help anyone who's interested in maintaining packages elsewhere though.

[2021-02-15 23:02] #301 closed

[2021-02-16 17:42] nhatmvo commented on #296
@fsouza I've been searching for the familar issue, the file uploaded into server is not correctly, so that when I download it using curl, I cannot open it. Is this intended or my request to create file is wrong?

here is my request:
[code]

[2021-02-17 17:09] nhatmvo opened #429 "Issue with downloading image file"
After I uploaded a file into server successfully, when downloaded that file using curl, I cannot open that file (the file is damaged or corrupted). I even used `docker cp` to move that file from `storage/<my-bucket>` within fake-gcs-server container into my host machine, but I still cannot open it neither.
Is this intended or my request is missing something?

here is my request:

[code]
and downlo

[2021-02-17 17:29] fsouza commented on #429
Are you using the filesystem storage backend? If so, I think this is the same as #296 🤔 Need to investigate it further to check what's going on.

[2021-02-17 17:45] nhatmvo commented on #429
No, just a normal image file file from the internet, I used postman for testing, and the content type is returned correctly, so probably it's not the same as the issue you mentioned about.

[2021-02-17 17:46] fsouza commented on #429
@nhatmvo oh, I mean which backend within fake-gcs-server. What's the command you used to start fake-gcs-server?

[2021-02-17 17:49] nhatmvo commented on #429
I use exactly the command from README.md.

[2021-02-17 17:55] fsouza commented on #429
Can you try with `-backend memory` and check if the error persists?

[code]

[2021-03-15 10:37] cgreening opened #451 "Incorrect content type?"
Thanks for the great library. I'm struggling to get it working with Rails - does anyone have this working?

I think one of the issues I'm seeing is caused by an incorrect content type stopping the ruby library from parsing the responses.

[code]

[2021-03-15 12:06] cgreening commented on #451
I've hacked around with the code and added the correct content type and it fixes my issue with ruby not parsing the response. I'm not a go developer, but I'll try and pull together a pull request with a fix.

[2021-03-15 12:17] fsouza commented on #451
Oh interesting, I thought we had the proper content-types, but probably only on download. Should be an easy fix though. Let me know if you have any questions or would prefer me to fix it.

[2021-03-15 16:31] #451 closed

[2021-03-16 12:39] sfro commented on #280
I'm not able to create objects no matter what public-host I put 🤔 logs show that the request isn't even reaching the server

[2021-03-16 14:11] fsouza opened #456 "Refactor how the Content-Type header is defined"
Follow-up from #452, see https://github.com/fsouza/fake-gcs-server/pull/452#pullrequestreview-612379499 for more details.

[2021-03-18 22:56] fsouza commented on #280
Hey @sfro, I'll try updating the example to include upload. thanks for reporting!

[2021-03-19 20:16] mipnw opened #458 "Failing to read from an object I just wrote"
When I run the following unit test which tries to round trip an objet to GCP storage (upload then download and compare equality of the object content) I get failure
`Error:      	Expected nil, but got: &url.Error{Op:"Get", URL:"https://storage.googleapis.com/my-bucket/my-object", Err:(*errors.errorString)(...)}`

I was expecting that test to pass. Having configured the fake gcs server for the HTTP

[2021-03-19 20:23] anasanzari opened #459 "Getting "certificate is valid for example.com, not localhost""
Getting this error "certificate is valid for example.com, not localhost" with go client

compose file
[code]

go code:

[code]

[2021-03-19 20:25] fsouza commented on #458
Yeah this is a bug in the client. If you change the server to "https" instead of "http" it should work.

I can push a fix later today (or if you're willing to give it a shot, we need to implement `Dial` in addition to `DialTLS` in the http.Transport instance).

[2021-03-19 20:33] fsouza commented on #459
That's weird 🤔 What's your go version?

[2021-03-19 20:38] anasanzari commented on #459
@fsouza it's 1.15

[2021-03-19 21:00] fsouza commented on #459
@anasanzari is `s.Storage` and `client` the same? Could you provide a full reproducer? (you can use the [go example](https://github.com/fsouza/fake-gcs-server/blob/main/examples/go/main.go) as a starting point and add the necessary changes to make the ACL change)

[2021-03-19 21:50] mipnw commented on #458
ok I've modified the `fakestorage.Options` to use `Scheme: "https"`. The test still fails at `reader, err := mockClient.Bucket(bucketName).Object(objectName).NewReader(ctx)` with error "storage: object doesn't exist"

[2021-03-19 22:04] fsouza commented on #458
@mipnw you need to close the writer for it to create the object: https://pkg.go.dev/cloud.google.com/go/storage#ObjectHandle.NewWriter

[2021-03-19 22:42] mipnw commented on #458
I've fixed that test bug by closing the writer.

I'm still getting an error that "storage: object doesn't exist" but now it's not coming from a failure to write the object because I can see that object show up in my filesystem if I pass a `StorageRoot` option. So part 1 (write the object) seems to work. But part 2 (read back the object), still gives me trouble.

[code]

[2021-03-20 09:30] anasanzari commented on #459
@fsouza Here's a full test

[code]
Client fails with error: "Post "https://localhost:4443/upload/storage/v1/b/test/o?alt=json&name=a.jpeg&prettyPrint=false&projection=full&uploadType=multipart": x509: certificate is valid for example.com, not localhost"

Container logs:
[code]

[2021-03-20 09:53] anasanzari commented on #459
@fsouza so issue is that i was not setting `InsecureSkipVerify`
You could update the example to have that.
[code]

[2021-03-20 09:53] #459 closed

[2021-03-20 14:18] fsouza commented on #459
Oh I see. The example uses http, not https, but let me add a comment to it.

[2021-03-20 14:36] fsouza commented on #458
@mipnw I think the problem is the public host, if you remove that everything should work.

I'll fix the Client() method to return a client that supports both http and the custom public host.

[2021-03-21 03:17] #458 closed

[2021-03-21 04:44] #456 closed

[2021-03-25 06:45] jschaf opened #464 "[Feature Request] add support for startOffset and endOffset"
The GCP storage API allows specifying an inclusive startOffset and exclusive endOffset to fetch a range of objects. The fake storage server ignores both parameters, returning all objects instead.

https://cloud.google.com/storage/docs/json_api/v1/objects/list

[2021-04-01 22:17] trisongz opened #471 "Mocking with Tensorflow APIs"
Hi, I ran across this project and after looking through the issues, I wasn't able to find any other comments related to this, so I had a few questions.

My particular use case would be to test and see whether specific Tensorflow APIs would detect the endpoint as a GCS object.

- Would you happen to know whether the mock endpoint is recognized in Google Cloud's logging as GCS?
- Assuming it is reco

[2021-04-02 21:55] fsouza commented on #471
Hey @trisongz, thanks for opening this issue. Unfortunately I do not know the answer to those questions, but I assume the logging format would not be recognized, since we're having the default log format provided by [gorilla/handlers](https://github.com/gorilla/handlers) and I imagine Tensorflow would expect some form of structured log.

Feel free to dig into this and let me know if I can help in

[2021-04-09 03:33] anchan828 opened #477 "[Feature Request] Supoprt response-content-disposition and response-content-type query?"
Hi, thank you for this useful tool!

I would like to see support for response-content-disposition and response-content-type because I want to have the same behavior as GCS.

https://cloud.google.com/storage/docs/xml-api/reference-headers#responsecontentdisposition

[2021-04-12 21:21] fsouza commented on #477
Hi @anchan828, thanks for opening this issue. Is that feature also supported in the json-api? You linked the xml-api, which is not currently supported (see #331).

[2021-04-13 01:06] anchan828 commented on #477
Hi @fsouza, thanks for your reply.
Those parameters work fine at least in [@google-cloud/storage](https://github.com/googleapis/nodejs-storage/blob/master/src/signer.ts#L57). Also [google-cloud-cpp](https://github.com/googleapis/google-cloud-cpp/blob/master/google/cloud/storage/signed_url_options.h#L100) have them.
This feature does not seem to make a difference between json and xml, I think.

[2021-04-13 03:36] fsouza commented on #477
Nice, thanks for confirming!

[2021-04-19 19:29] joerodriguez commented on #214
Hey y'all, there's a PR here for deleting buckets: https://github.com/fsouza/fake-gcs-server/pull/481

[2021-04-19 23:25] boisamazing commented on #464
I've been working on pagination using fake-gcs-server and need also supports for **maxResults** and **pageToken**.

[2021-04-21 18:39] Meemaw opened #485 "Serving static files"
Hey, I have a question. Does this project supports serving files directly (e.g. I can open it in browser), or does some proxy needs to be created in front of it?

In case of proxy, are there any recommendations on the setup?

[2021-04-22 06:34] Meemaw commented on #485
Found it... For anyone looking for this, files are served and can be accessed in browser at:

`serving_hostname = f"{api_endpoint}/download/storage/v1/b/{bucket_name}/o/{file_path}"`

[2021-04-22 06:34] #485 closed

[2021-04-24 13:06] #214 closed

[2021-04-27 10:52] avihaybar opened #489 "version tag for latest version"
Hi, great docker! we found it very useful.

However, one thing we didn't find on DockerHub is a version tag for the latest version.
(we prefer to pin down a version and not use the 'latest' tag).
is it possible create such a tag (the same way we could pull v1.21.2)

[2021-04-27 12:07] fsouza commented on #489
🤔 GitHub Actions should be doing that automatically. Will investigate what's going on and manually push.

[2021-04-27 13:16] fsouza commented on #489
Ok, I see what the issue is, we're doing a naked `docker push` and that no longer pushes all tags. Will fix the script and manually push the tags.

[2021-04-27 13:33] fsouza commented on #489
This is now fixed. All tags are pushed and going forward GitHub Actions should do it for us properly.

If anyone is interested in auditing what I did, this is the script I used for each tag:

[code]

And these are the tags I pushed:

[code]

To run the script:

[code]

[2021-04-27 13:33] #489 closed

[2021-04-27 15:00] avihaybar commented on #489
Thanks!
Really appreciate it

[2021-05-06 13:42] aochagavia opened #494 "[Feature request] Support HTTP connections in container"
### Problem

The `Dockerfile` _only_ exposes an HTTPS port for connections, as you can see below:

https://github.com/fsouza/fake-gcs-server/blob/4fd6c95bc5dcd0555a40c04bcb984730ce22ddcc/Dockerfile#L13-L17

While using HTTPS is not a problem when testing things using curl, it doesn't work well when using the SDK for C# (it refuses to establish a HTTPS connection without a valid certificate).

###

[2021-05-07 03:54] fsouza commented on #494
Hi @aochagavia, thanks for opening this issue. The `EXPOSE` command in Docker is mostly for documentation and some level of automation when publishing ports, you can publish any ports when starting the container, and fake-gcs-server already supports running with http instead of https, as long as you specify the `-scheme` flag.

So, adapting the example in the readme to use http + port 8080 would b

[2021-05-07 08:38] aochagavia commented on #494
Hi @fsouza , thanks for the explanation. It seems like I missed the `-scheme` flag. Maybe it would be useful to have it mentioned on the readme.

By the way, thanks for this repository as well!

[2021-05-07 11:22] fsouza commented on #494
Oh, that's a good callout. Let me reopen this so we can track the doc change.

[2021-05-07 12:19] #494 closed

[2021-05-18 14:35] mjurkus opened #496 "ServiceException: Service did not provide requested hashes in metadata for unencrypted object"
I'm running:
- fsouza/fake-gcs-server:1.24.0
- gsutil version: 4.60

and when running command:

[code]
I get the following error
[code]

When copying a single file:

[code]

[code]

`ls` works fine:
[code]

Am I missing something?

[2021-05-19 13:13] fsouza commented on #392
Does #498 fix this? It's available in the latest version (1.25.0+)

[2021-06-15 04:00] #72 closed

[2021-06-28 17:59] Sytten commented on #429
I think its because the url is missing a query param correctly, it should be: `https://0.0.0.0:4443/storage/v1/b/sample-bucket/o/tux.png?alt=media`

[2021-06-28 18:31] Sytten commented on #270
Same error here, is there a work around except the media?

[2021-06-29 01:03] Sytten commented on #270
Ok I understand it is because we use the form upload which is in the XML API: https://cloud.google.com/storage/docs/xml-api/post-object-forms#html

[2021-07-02 13:54] nmbryant opened #527 "Add support for object compose"
The GCP storage API allows merging 2 or more source objects into a destination object via compose.

https://cloud.google.com/storage/docs/json_api/v1/objects/compose

[2021-07-06 02:05] lucaspin commented on #464
Hey @fsouza, I bumped into this issue this week and opened #528 to address it. I'd really appreciate a review from you on that one when you get a chance.

[2021-07-08 14:30] #464 closed

[2021-07-09 15:15] gnarea commented on #346
@fsouza, #497 didn't fix this issue. It just made it different. Consider this:

[code]

`file.save()` now fails with a more cryptic error:

[code]

Server logs:

[code]

[2021-07-09 15:26] gnarea opened #529 "Can't download files with v5.8.2+ of the Node.js client"
Version 5.8.1 of the Node.js client works fine, but versions 5.8.2 to 5.8.5 (latest) don't.

I suspect https://github.com/googleapis/nodejs-storage/pull/1419 is the culprit, but that must obviously be working against GCS servers.

Here's a simple repro script:

[code]

`fileRetrievalResponse.download()` fails with:

[code]

Server logs:

[code]

I've tested this against versions 1.21.2 and 1.28 of

[2021-07-09 15:45] fsouza commented on #346
Hm I wonder where it's trying to connect to. I'll investigate later, thanks for sharing a reproducer.

[2021-07-13 11:11] jdleesmiller commented on #529
Note: https://github.com/fsouza/fake-gcs-server/pull/530 aims to fix this.

[2021-07-13 12:19] #270 closed

[2021-07-13 13:47] fsouza opened #531 "Set Content-Type when loading files from disk"
On startup, fake-gcs-server should set the content-type header for objects it loads from the disk.

[2021-07-13 13:47] fsouza opened #532 "Resumable uploads don't set content-type"
Somehow exposed by #530, but resumable uploads don't set content-type and an empty Content-Type header can break the .NET SDK in that specific example.

Additionally, we should consider not setting the content-type header if we don't have it.

[2021-07-13 13:53] #529 closed

[2021-07-15 12:29] Leavrth opened #536 "Add support for negative offset"
It seems that negative offset is not considered, such as `range=-10-` which means `NewRangeReader(ctx, -10, -1)`.
https://github.com/fsouza/fake-gcs-server/blob/5a7dc5a5a672ab1b61ed7a9d4180614d60245975/fakestorage/object.go#L578-L599

It can be seen in `Example(LastNBytes)` in https://pkg.go.dev/cloud.google.com/go/storage#ObjectHandle.NewRangeReader

[2021-07-16 14:06] steinroe opened #537 "Signed URLs: Cannot sign data with client_email"
Hi,

I am having troubles with signed urls using the library. When using the following config,
[code]
generating a signed url with
[code]
fails with `Cannot sign data without 'client_email'`.

When I add a fake service account with
[code]

it returns an upload url looking something like `https://storage.googleapis.com/network-test/File/4ce53b09-648c-4d95-8408-db1acd967b37/4ce53b09-648c-4d95-8408-d

[2021-07-21 15:51] #527 closed

[2021-08-26 10:33] lisfox1 opened #561 "Ability to configure server using environment variables"
When running this service inside a docker container it would be handy to be able to configure it using env vars instead of cli parameters.

[2021-09-16 17:47] BruAndreo commented on #537
Hi @steinroe ,
How did you solve this? I have the same problem.

[2021-09-16 17:49] steinroe commented on #537
Unfortunately I did not solve it yet, but I am still highly interested in doing so.

[2021-09-23 18:43] markerdmann opened #580 "qemu segmentation fault on Apple M1 / arm64"
The container crashes immediately after startup on an M1 Macbook. This is the log output:

fakegcs_1           | time="2021-09-23T18:41:16Z" level=info msg="server started at https://[::]:4443"
fakegcs_1           | qemu: uncaught target signal 11 (Segmentation fault) - core dumped

[2021-09-23 19:18] fsouza commented on #580
@markerdmann thanks for reporting. I don't have an M1 currently, so hard for me to investigate this 😞

Are you able to reproduce it when running natively, without a container?

[2021-09-23 20:35] markerdmann commented on #580
My current workaround is just to clone this repo and run with the fake-gcs-server/Dockerfile.

This might be the solution? https://www.docker.com/blog/multi-arch-build-and-images-the-simple-way/

[2021-09-23 20:43] fsouza commented on #580
Oh I see, is the problem only when you pull the image from Docker Hub? I'll investigate more later.

[2021-09-23 22:04] markerdmann commented on #580
Yes, I think when building locally, Docker is able to use the multiarch builds of the two base images referenced in the Dockerfile.

[2021-09-27 07:28] vikramray-fc commented on #381
Hi, thanks for this project. I was able to generate a download url  `http://0.0.0.0:4443/storage/v1/b/bucket/o/example.json?alt=media` but I am not able to generate upload URL, any example would be helpful. Thanks!

[2021-09-30 22:49] potatochip opened #587 "Python example does not work"
Raises error from gcs client about can't refresh anonymous credentials.

[2021-10-01 16:46] wgreeneactual opened #588 "CERTIFICATE_VERIFY_FAILED"
We have a few Python apps that have used this tool reliably until we recently updated our CentOS base image to deal with some expired certificates. Now we are having errors when we try to make requests to `fake-gcs-server` within a docker network. This was working without any issue until we made that change.  Have you seen anything like this?

`HTTPSConnectionPool(host='fake-gcs-server', port=4443

[2021-10-01 20:36] fsouza commented on #588
@wgreeneactual hmm that as a new error is unexpected, fake-gcs-server has always run with a self-signed certificate. More specifically, it uses a self-signed certificate that ships with Go's httptest.Server.

Did you have any logic to trust the CA? Did anything change on the client side making the call to fake-gcs-server?

[2021-10-01 21:13] wgreeneactual commented on #588
Thank you for the response. This may well be an issue with our client. As far as I know we are just using this import from the Google SDK and not messing with any of the internals of that:

`from google.cloud.storage import Bucket`

The only change was to update the CentOS Docker image to fix an expired certificate in an outdated image. I don't know too much about the details on that, it's lower d

[2021-10-01 21:13] #588 closed

[2021-10-01 22:30] fsouza commented on #587
Can you provide more details? Which command did you run? How did you start the server? What error did you get?

[2021-10-01 23:06] potatochip commented on #587
[code]

[code]

[code]

[2021-10-01 23:37] fsouza commented on #587
Oh I see, it's trying to connect to the real server, you need to set the endpoint, either via an environment variable or the proper parameters in the client.

Take a look on how we do it in CI: https://github.com/fsouza/fake-gcs-server/blob/main/ci/run-python-example.sh.

[2021-10-01 23:44] fsouza commented on #381
Hmm it should just work. Can you share a snippet of code that you expected to work and didn't work? Thanks!

[2021-10-04 09:36] mdedetrich opened #590 "Allow specification of Location"
I am attempting to use face-gcs-server along with [Alpakka](https://github.com/akka/alpakka), specifically https://github.com/akka/alpakka/tree/master/google-cloud-storage/src and I am currently experiencing the issue where when you try to get the details of a bucket (i.e. `GET http://0.0.0.0//storage/v1/b/<some-bucket>`) the response is missing the `location` field in the JSON.

I understand that

[2021-10-04 11:37] fsouza commented on #590
Yeah if that's a parameter on bucket creation we should persist it and return where applicable.

Do you know if any other fields are missing?

[2021-10-04 11:51] mdedetrich commented on #590
Unfortunately the JSON parser that is used short circuits as soon as it finds the first missing field so I only know that the `location` field is missing but for reference these are the fields that its looking for (all of which are mandatory)

[code]

If this is not helpful enough I can print out the response to see if there are any other missing fields?

[2021-10-04 22:18] fsouza commented on #590
Oh ok from that type definition I assume the only thing missing is location. I can work on it some time this week, but let me know if you'd prefer to send a PR.

I think we probably want to:

- take the region on createBucket
- include it on getBucket
- (maybe?) have a default region that's used for buckets sourced from the disk on startup

[2021-10-04 22:29] mdedetrich commented on #590
I am not that familiar with Go and its not that urgent for me so I am happy waiting if you are fine with working on it (otherwise let me know and I will try and work on it later on).

Yup sounds great from my end, having a command line arg such as `default-region` seems appropriate for the last point

[2021-10-05 15:32] potatochip commented on #587
Thanks for checking. It does work after doing that. Might want to update documentation to mention env var or other options in order to get things working.

[2021-10-05 16:57] fsouza commented on #587
Do you think that replicating the comment at the top of the [Go example](https://github.com/fsouza/fake-gcs-server/blob/main/examples/go/main.go) is enough or do we need more?

[2021-10-05 17:35] potatochip commented on #587
Should be fine

On Tue, Oct 5, 2021 at 10:57 AM francisco souza ***@***.***>
wrote:

[2021-10-07 04:10] fsouza commented on #397
This is probably not a memory leak, the code is just not very smart when loading stuff from the disk. There were some improvements to the list endpoint recently, but there's definitely room to improve other parts of the code.

[2021-11-10 19:38] sorasful opened #619 "Add an example to run the image in .gitlab-ci.yml"
Hello,

As I'm starting to use fake-gcs-server for one of my project, I'm trying to setup a service in my .gitlab-ci.yml file. So far I have some troubles to set it up. But once I figure it out, what would you think about adding a section in the documentation to show the configuration to be able to run it in Gitlab-CI ?

[2021-11-11 07:16] jonasfugedi opened #620 "Support update in new endpoint"
I need suport for 'update' - https://cloud.google.com/storage/docs/json_api/v1/objects/update

When running the java client a POST request is sent (not the expected PUT as implied by the documentation) so both PUT and POST are supported.

PR: https://github.com/fsouza/fake-gcs-server/pull/616

[2021-11-11 17:06] warent commented on #397
I'm mounting an empty directory, so the bucket has no contents.

<img width="410" alt="Screen Shot 2021-11-11 at 10 01 22 AM" src="https://user-images.githubusercontent.com/13342266/141338784-cc902459-2b80-469c-8a92-b297bae97169.png">

[code]

<img width="295" alt="Screen Shot 2021-11-11 at 10 04 24 AM" src="https://user-images.githubusercontent.com/13342266/141338983-faad9067-cf70-40bf-aaf6-9da4f

[2021-11-11 17:57] warent commented on #397
I cloned the repo and built the image locally. No idea why but it seems to be working a bit better now. Memory use is still crazy but not as bad. Above it was using like 11gb, now it's fine with like 5g

I ran a profiler and here's the result.

`docker run -v $(pwd)/buckets:/data -p 6060:6060 docker-compose_gcs --port 8080 --public-host gcs:8080 --backend filesystem --filesystem-root /data`

![pro

[2021-11-11 18:10] warent commented on #397
Wait a minute, I logged out what files it was walking, and it only found `.gitkeep` as shown in the screenshot above... and it hangs. Then looked and saw this

<img width="216" alt="Screen Shot 2021-11-11 at 11 07 21 AM" src="https://user-images.githubusercontent.com/13342266/141347560-4d966e3e-f867-45b4-81c2-30e99425ad3f.png">

lol apparently it has been writing to .gitkeep this entire time and I

[2021-11-11 22:30] fsouza commented on #619
@sorasful hey, yeah we could add that to the documentation x)

Let me know if I can help in any way.

[2021-11-11 22:31] fsouza commented on #397
Wait, is fake-gcs-server writing that file? That's unexpected 🤔

[2021-11-11 22:37] sorasful commented on #619
@fsouza  Yeah, I think that a lot of people use this for their projects in their CI, I'm personnally using Gitlab-ci so I thought this would be a good idea. Could be great for other platforms too, but let's open an issue when that will be needed.

Also, I didn't manage to make it work yet, I have some troubles with :

[code]

And my Gitlab-ci looks like this :

[code]

[2021-11-12 12:07] sorasful commented on #619
Okay, so despite the warning saying `No HOST or PORT found` it seems that the service starts well and is working. Now just need to find out how to add volumes.

[2021-11-12 15:31] warent commented on #397
So I created an empty folder for the bucket and then I added a `.gitkeep` file to it so that the bucket structure would exist in github when empty. It was empty when I made it, and somewhere along the way fake-gcs-server populated it with all that stuff

[2021-11-15 19:00] BigJerBD opened #623 "404 when doing a resumable upload POST"
Image version : latest (v1.30.2)

I'm using apache beam to do resumable uploads  into a fake gcs bucket (for testing purpose) , but I get this error
[code]

I also confirmed that the path `test1` was present :

[code]

It work with the real GCS service so I was wondering if the sent POST has any version compatibility error or if it isnt supported yet anyhow.

Thanks !

[2021-12-07 09:24] vikramray-fc commented on #381
Hi @fsouza, Sorry for late response.

I have generated a signed URL from the gcp code snippet and its working for cloud storage. (without emulator)

[code]
While using emulator, I generated a signed URL with the above snippets, it returned -

`https://storage.googleapis.com/fc/uploads/vikram.com/ojoijoijoi.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=fc-team%40vikram1.iam.gserviceaccoun

[2021-12-09 10:50] ratnesh93 opened #631 "Support to upload file using signed url, getting 404"
Using `generate_upload_signed_url()`, I am able to generate signed url which is needed to upload the file,
for gcp I am able to upload using `curl -X PUT -H 'Content-Type: text/csv' --data-binary @file_name.csv 'signed_url'`
But using emular I am not able to upload, its throwing 404

[code]

I have created `storage/data/bucket-name` folder.

Can anyone guide me, I am doing something wrong, or emul

[2021-12-09 21:08] fsouza commented on #631
Hmm curious on why it's using `PUT`. Can you share a snippet of code reproducing the issue? Which SDK are you using? node.js?

Thanks for reporting!

[2021-12-10 06:35] ratnesh93 commented on #631
I am using it in **python** code, code sample is under python section in [google docs](https://cloud.google.com/storage/docs/access-control/signing-urls-with-helpers#storage-signed-url-object-python) for
**Creating a signed URL to upload an object**
Code snippet for upload from google docs which  I am using :
`url = blob.generate_signed_url(
        version="v4",
        expiration=datetime.timede

[2021-12-10 13:11] fsouza commented on #631
Oh I see I didn't realize GCS supported `PUT` for uploads too.

We need to update the emulator to support that. _Should_ be a simple change, I'll give it a shot.

[2021-12-14 07:42] stoffeastrom commented on #346
FYI
I just got hit by this as well. Doing:

[code]

e.g changing `s.URL()` -> `s.PublicURL()` ensures getting the correct url. However after this I get a `Error: Retry limit exceeded` which I haven't investigated yet.

[2021-12-14 15:07] stoffeastrom commented on #346
Just found the `ExternalURL` options.. so no need for above change :D

[2021-12-15 09:40] bkondakor opened #636 "404 when uploading to empty storage"
When I start with a new empty instance and try to upload to it, it throws 404 error.
If I initialise it with some data, it works.

[code]

[2021-12-20 04:48] adriangb opened #637 "Raise an error for invalid externalURL"
Hi, I'm coming here from https://github.com/googleapis/python-storage/issues/604

The TLDR is that inside of docker-compose at least, the `externalURL` value inferred from server's bind is not valid.

Would it be possible to detect this and error out if no `-external-url` parameter was provided by the user? It would avoid a pretty difficult to debug-bug.

I also noticed that in the logs I always s

[2021-12-28 15:56] stoffeastrom commented on #580
@fsouza  Looks like you are using github actions. There are some actions available.

https://github.com/docker/setup-buildx-action#with-qemu

Something like: (*note* haven't tested this myself yet)

[code]

[2021-12-29 14:47] fsouza commented on #636
@bkondakor you may need to create the bucket before uploading to it. Can you share the code that you used to try to upload the file? Thanks!

[2021-12-29 15:00] fsouza commented on #637
Hm not sure if we can easily detect a better external URL. We could make it always required, but that would be a breaking change. We could also do something that only affects the Docker image, since I believe that's the environment where people will usually run in this sort of issue (something like an environment variable that turns `-external-url` into a required parameter? 🙈 )

A less intrusive

[2021-12-29 22:53] adriangb commented on #637
I think a warning would be a good start.

Regarding making it required, could it be required only when calling an endpoint that needs it and when it can't be inferred? It would still technically be a breaking change, but that scenario would lead to a client error anyways so this would just move the error to a more user friendly place.

[2021-12-29 23:27] #580 closed

[2021-12-30 10:23] stoffeastrom commented on #637
🤔  Haven't looked into it in detail but I'm thinking maybe it's better to use the `request` to set the correct headers?

e.g if you're requesting inside docker network it would look in one way but if you exposed it locally it looks different

from inside `docker-compose`

[code]

from `localhost`

[code]

maybe we could just use

[code]

[2021-12-30 10:39] adriangb commented on #637
Sounds reasonable to me

[2021-12-30 13:22] fsouza commented on #637
`Location` is the response header set by the server, but I think that's a good idea, if `-external-url` isn't set, we use the request host. Would potentially need to support `X-Forwarded-Host`, but we can start with just the host (proxies can rewrite `Location` as needed, and I wouldn't expect anyone to be running fake-gcs-server behind a reverse proxy).

[2022-01-01 13:50] #590 closed

[2022-01-01 13:52] fsouza opened #642 "Bucket locations: use bucket-specific value instead of a global one"
As part of the fix for #590, we introduced a global config parameter for bucket locations. Instead, we should use that default location for buckets created at start time, and for buckets created via API, store the location provided by the client.

[2022-01-04 18:40] sergseven commented on #346
Setting ExternalURL is a clue to have fake-gcs-server working for Testcontainer!

Just in case someone is looking for a solution for Testcontainers & Spring & JUnit 5:

[code]

the difficulty with Testcontainers is that a random mapped port(external port) is available after the generic container is spinned up and running, so we can't know it before. So the trick is to get random port before the co

[2022-01-25 16:28] sergseven commented on #346
As a follow up, it doesn't work on CI environments where docker containers run on a remote, so "container IP" is different than localhost(0.0.0.0) and is only known after container eventually started.

A workaround for this case is to update external-url of a started fake-gcs-server container, that is proposed in #659.

@fsouza would be nice if you look into #659

[2022-01-28 20:37] aheritier commented on #532
I confirm that real uploads on GCS are setting the content-type but somehow it is lost when using fake-gcs-server

[2022-01-31 17:56] pkerschbaum opened #667 "Request method HEAD returns 404 even if object exists"
Hi!

The real Google Cloud Storage API returns 200 if a object is retrieved with HTTP method `HEAD`.
I use that to check if an object with a given ID exists.

However, fake-gcs-server always returns 404 (even though the same object returns 200 if HTTP method `GET` is used).

Would be cool if you could add support for `HEAD`!
I am using fake-gcs-server heavily for one of my projects :)

(Image Vers

[2022-01-31 20:31] modosc commented on #636
we're seeing the same issue. even with buckets created in the `/data` directory this call always fails:
[code]

this is with `@google-cloud/storage@5.18.1`

[2022-02-02 08:54] gaul opened #669 "Efficiently handle large objects with filesystem backend"
Currently `multipartUpload` and `uploadFileContent` calls `loadContent` which calls `ioutil.ReadAll` which loads the entire request body into memory.  Instead it should stream the body to disk when using the filesystem backend.  This will reduce memory usage when testing large objects, e.g., 2 GB.

[2022-02-02 09:57] gaul opened #671 "Store objects as binary instead of JSON"
Storing objects in binary more efficient than encoding as JSON which has high memory usage for large files.  fake-gcs-server can store the metadata in extended attributes instead.  References #669.

[2022-02-02 15:10] fsouza commented on #671
Yeah using JSON isn't great, specially when we're dealing with ranges. It also means we can't store metadata for buckets (as they're represented as simple folders). I wonder if using extended attributes will limit what kind of filesystem we can use (I haven't done this before, so I really don't know), but we can definitely explore it.

Alternatively we can always have a metadata file in some struc

[2022-02-02 15:10] fsouza commented on #669
@gaul do you think we can close this now that #670 is merged and #671 is open to track the move away from JSON?

[2022-02-03 00:00] gaul commented on #669
These issues relate but have a somewhat different scope.  This one should include any memory optimization for large files, e.g., removing the call to `append(obj.Content)` in `uploadFileContent` which doubles memory usage.

[2022-02-07 18:53] HoodieCollin commented on #636
I am also seeing the same issue using `@google-cloud/storage@5.18.1`

Here is some of the code being used to upload a `.csv`

[code]

[2022-02-13 13:31] ri8ika opened #684 "uploaded file is crashed"
In mac machine, you can compare this issue by getting info of the file ("Get Info"). Under "More Info", there's no any value compared to original file. Additionally in "Preview", you can not see the preview (We can understand it is crashed). If the file is of text type, then the preview section will show the information in json format like metadata etc.

Now, let's analyze what happens on both mac

[2022-02-15 02:41] fsouza commented on #684
Yeah this is related to us not persisting metadata properly I think. I believe the work @gaul is doing in #683 should fix this. My plan is to review that PR before the end of this week. It should be good to go though, as @gaul definitely know what he's doing. It's just a matter of me finding the time.

[2022-02-15 13:17] ri8ika commented on #684
Definitely. I have checked that as well and continuously watch the changes. If something is wrong (ie. result is not as expected) then I'll point out and let you know here.

By the way, I'm also debugging on this, if I could do something then I'd be glad to contribute.

[2022-02-15 13:48] ri8ika commented on #684
Ah, that's from different repo. I'll be checking that out later tonight and test it out.

[2022-02-15 13:54] #671 closed

[2022-02-15 16:50] ri8ika commented on #684
Hi @fsouza

I tested #683 PR and it's working great!

However, I have listed out some issues. Currently, I have tested in Mac machine only:

- Issue 1:
[code]
- Issue 2:
[code]
- Issue 3:
[code]
- Issue 4:
[code]
- Issue 5:
[code]

I will let you know if I find any issue later.

[2022-02-15 18:08] gaul commented on #684
Docker has a variety of configurations so please be precise about what you are doing.  Which path do you configure your `-filesystem-root` to point to?  Is it inside the Docker container or does it point to a path on the macOS host?  Does the path exist in `/tmp` which does not support xattr?  If so you must you a different path and perhaps fake-gcs-server could warn more eagerly about this.

Did

[2022-02-15 19:08] bhojport commented on #684
Oops, sorry. It's my mistake. I din't set content type. After checking it again:

Issue 1:
Data mounted on docker:
[code]
Can you please help me fix on this?

Issue 2: (Has issue)
I have set content type to "video/mp4"
Not able to play video.

Issue 3: (Issue persist)
Maybe fixing issue 1 may help this?

Issue 4: (No issue)
Ah, application/pdf worked fine, I was using octet stream - my mistake.
Sa

[2022-02-15 19:17] ri8ika commented on #684
Oops, sorry. It's my mistake. I din't set content type. After checking it again:

Issue 1:
Data mounted on docker:
[code]
Can you please help me fix on this?

Issue 2: (Has issue)
I have set content type to "video/mp4"
Not able to play video.

Issue 3: (Issue persist)
Maybe fixing issue 1 may help this?

Issue 4: (No issue)
Ah, application/pdf worked fine, I was using octet stream - my mistake.
Sa

[2022-02-16 11:31] gaul commented on #684
I believe that issue 1 relates to the lack of macOS Docker filesystem sharing (osxfs): https://docker-docs.netlify.app/docker-for-mac/osxfs/#extended-attributes.  You can try the referenced PR that communicates errors more completely.

Your experience suggests that the Windows fallback logic might be useful for macOS and I guess Linux tmpfs as well.

[2022-02-16 13:23] gaul commented on #684
You might try running `fake-gcs-server -data` to copy from the macOS bind mount into a directory inside the Docker image as a workaround.

[2022-02-16 13:51] ri8ika commented on #684
Didn't work:

[2022-02-16 14:26] ri8ika commented on #684
[code]

[2022-02-16 15:58] ri8ika commented on #684
I am able to run the docker using `r-base` `bash` as mentioned in https://docker-docs.netlify.app/docker-for-mac/osxfs/#access-control

And for your information issue 3 still persist.

[2022-02-17 09:02] gaul commented on #684
@ri8ika Could you file an issue for oxsfs xattr support at https://github.com/docker/for-mac/issues and link to it here?  I lack the correct setup and this requires inputting some live diagnostic metadata or else they will just close the issue.

[2022-02-17 13:18] ri8ika commented on #684
I am not pretty sure about diagnosing. I would be glad if you could guide me on this? Can we talk somewhere on Slack?

I tried self diagnose tool, but failed: https://docs.docker.com/desktop/mac/troubleshoot/#self-diagnose-tool

Should I install VM or what steps need to take?

[2022-02-17 16:52] fsouza commented on #684
Hmm interesting. In my use cases I'd usually not mount the volume from Docker (I also haven't used docker4mac in a while).  If this is a common use case, perhaps we should generalize the Windows fallback, but no need to go for that now I think, we can watch for other issues / comments from other users.

[2022-02-17 18:46] ri8ika commented on #684
Yup! You are right. We can ignore docker issue for sometime. But what about the issue of video/audio not playing in browser. I don't think this should be ignored. There could be simple solution for this like fixing header or so.

[2022-02-17 21:32] fsouza commented on #684
@ri8ika oh yeah absolutely. We can fix it to return whatever GCS returns. Curious if GCS does it based on metadata or automatically.

[2022-02-22 07:36] thaont-0210 commented on #381
@vikramray-fc hi, I have read your issue recently, I think you find your own solution, but I think I will help someone with my solution in Go: we have property `Style` in `SignedURLOptions`
[code]

[2022-02-22 08:56] thaont-0210 commented on #381
@vikramray-fc
I think you have found your own solution, but I think my solution can help some one other.
In Go, `SignedURLOptions` have property is `Style`, we use style `BucketBoundHostname` as below.
[code]
`u` will be encoded, so, url will be `http://localhost:8080%2Fbucket-hihi/abc.csv......` => we need decode that url
[code]

[2022-03-02 17:33] veteran29 opened #701 "Missing `generation` field causes issues with official Google PHP Client"
When a file is uploaded to the bucket with the PHP client provided by Google it expects `generation` field in the response, see:
https://github.com/googleapis/google-cloud-php-storage/blob/main/src/Bucket.php#L301

Could you please change it so this field is present with a `null` value instead of omitting it from serialization when it's not set?

[2022-03-02 18:05] fsouza commented on #701
Oh interesting. Yeah that should be an easy change. Do you want to send a PR or do you want me to do it? I should be able to do it later today.

[2022-03-03 05:06] veteran29 commented on #701
I would be grateful if you could please do this. I do not code in Go (It looks pretty simple to get into though!) and just wanted to use this project with Google PHP SDK.

[2022-03-03 05:15] fsouza commented on #701
Sorry I didn't get to it today but I will make the change tomorrow.

[2022-03-03 16:48] fsouza commented on #701
Hmm I'm curious whether the GCS API returns `""`, `"0"` or `null`. Do you have an example from a real request? If not, I can get one later.

[2022-03-03 19:26] veteran29 commented on #701
I've done a quick test upload via their web interface and got `generation: "1646335421345034"` for empty txt file.
It looks like it's Epoch in microseconds as it matches upload time.

[2022-03-09 14:32] krisgeus opened #709 "Use own certificates when using SSL"
when connecting through https the default certificate is only valid for example.com and 127.0.0.1. when using fake-gcs-server in a docker compose and naming it differently the certificates are always invalid.
when using this from java it is really hard to use in a insecure matter.

I will create a PR to add you own certificates

[2022-03-09 22:29] #709 closed

[2022-03-10 00:18] majelbstoat opened #711 "Usage with testContainers-go"
I'm trying to programmatically start fake-gcs-server using testcontainers-go. Example:

[code]

As with other folks, I can `curl --insecure http://localhost:XXXX/storage/v1/b/sample-bucket/o` and see my files in there, where `XXXX` is the mapped external port, but I can't retrieve them using the storage client.

From other issues, I believe this is because I'm not setting a public host. My problem

[2022-03-10 00:40] fsouza commented on #711
@sergseven recently added an internal endpoint for updating some configuration parameters, aimed specifically at setting the external URL after starting the container with test containers, you can see a Java example in his PR: https://github.com/fsouza/fake-gcs-server/pull/659#issue-1114081250

Let me know if that's enough information is enough for you.

We should probably document that endpoint i

[2022-03-10 01:07] majelbstoat commented on #711
So, that looks like it might be helpful, thanks! But, at the moment, it looks like it can only be used to change the ExternalUrl.

https://github.com/fsouza/fake-gcs-server/blob/main/fakestorage/config.go

I can submit a patch for changing the public host, if that's acceptable?

[2022-03-10 01:21] fsouza commented on #711
@majelbstoat ohh sorry I misread your message. Yeah, that's acceptable, feel free to send the PR adding support for overriding the public host!

[2022-03-10 01:26] majelbstoat commented on #711
Cool, PR here: https://github.com/fsouza/fake-gcs-server/pull/712 :)

[2022-03-14 04:05] chunming-c opened #713 "Failed to get object with error `storage: object doesn't exist` @ `1.37.0`"
Hi, thank you for the work. However, when upgrade to `v1.37.0`, `object` was failed to be retrieved by gcs client. The tricky part is the object does exist and accessible by `curl`.

[code]

[code]

### Version

- cloud.google.com/go/storage:  v1.16.0
- fake-gcs-server: 1.37.0

[2022-03-14 08:50] fsouza commented on #713
Hi @chunming-c, can you share how you started the server? Like which arguments you provided to it.

[2022-03-14 09:33] chunming-c commented on #713
Yeah sure. The server is started by docker compose with config below
[code]

[2022-03-14 11:54] fsouza commented on #713
Can you try setting `-public-host` to `localhost:8443`?

[2022-03-14 23:57] nabeelz7 commented on #713
We were also seeing similar issue as @chunming-c. Then changed our entrypoint `-public-host` value to the following per @fsouza tip and now it works again in v1.37 ((we use 80/http instead of 4443/https):
[code]

Is this worth an update to README.md @fsouza ?

[2022-03-15 02:37] chunming-c commented on #713
Yup it works after change, thanks!

[2022-03-16 12:23] mj3c commented on #381
I did not manage to generate a signed URL for uploading using Python. Regular uploading/downloading of blobs work.

Here's what I tried:

[code]

This is the error:

`AttributeError: you need a private key to sign credentials.the credentials you are currently using <class 'google.auth.credentials.AnonymousCredentials'> just contains a token. see https://googleapis.dev/python/google-api-core/latest

[2022-03-18 09:15] drigz opened #722 "Size is not correctly returned after upload"
I'm using the returned size to double-check the upload as we found some of our uploads were truncated and are trying to work out why. This works with GCS but breaks our tests. You can also see this by adding an additional assertion to upload_test.go:

[code]

I looked at sending a PR, but while it seems obvious how to set for most cases where ObjectAttrs{} is created when Content is already availa

[2022-03-20 16:06] fsouza commented on #722
Oh interesting. I'll investigate what's going on.

[2022-03-20 16:53] fsouza commented on #722
Thanks for providing the necessary test modification. Looks like we were incorrectly omitting that attribute, see #723. Once that's green, I'll merge it and cut a new release.

[2022-03-20 16:59] #722 closed

[2022-03-21 06:52] jasonford opened #724 "Getting a 404 with signed urls for GET call"
Thanks for the great software! I might be missing something basic, but I've given it a good search and have come up dry.

I'm generating a signed URL for a read action with the ```@google-cloud/storage``` npm module and receiving URLs of the form (default host manually swapped to point to my locally running container):

[code]
I've started the docker container like so:
[code]

All GET calls to the

[2022-03-21 07:12] jasonford commented on #724
Didn't find it documented, but poking around in the code gave me a hint that what I needed was to set the "publicHost" option.

Now I run my docker container with:
[code]

and all is well.

Thanks again for the great software!

[2022-03-21 07:12] #724 closed

[2022-03-25 14:09] miklosboros commented on #713
We had the same issue and I have tracked down the possible change that introduced it. Please, refer to my note at this pull request: [PR comment](https://github.com/fsouza/fake-gcs-server/pull/712#issuecomment-1079042835)

[2022-03-26 00:46] #713 closed

[2022-04-05 10:52] toadjaune commented on #631
Actually, it is already supported : https://github.com/fsouza/fake-gcs-server/blob/main/fakestorage/server.go#L266

[2022-04-05 20:06] fsouza commented on #631
Oh yeah that's a good point, thanks for updating the docs!

[2022-04-05 20:15] fsouza commented on #701
@veteran29 sorry completely missed this, do you know what the API returns if generation is disabled in the bucket? I'll give it a try on the weekend.

[2022-04-05 20:48] fsouza commented on #631
@ratnesh93 can you check if the instructions in #736 work for you?

[2022-04-06 06:26] iiian opened #739 "nodejs: always referencing `http://storage:8080/` no matter how I change my environment variables"
Heyo. So I'm using `nodejs` with `fsouza/fake-gcs-server`, and my service is practically verbatim what you have in the node directory:

[code]

However, when I try and save a file, without fail, I'm always confronted with, essentially, the following error:

[code]

Now of course, `storage` is the name of my service, but I've tried both of:

[code]

as my base client. same result regardless. Furthe

[2022-04-06 20:14] #631 closed

[2022-04-08 11:48] fsouza opened #744 "Support for generations in the filesystem backend"
Currently, only the memory backend supports generations, we should implement generations in the filesystem backend too.

One thing to notice is that while we don't have any promises in terms backwards compatibility for the contents of `-filesystem-root`, maybe we shouldn't break it too badly? Meaning, we'd probably want to introduce a new backend, or some migration script (I doubt users would noti

[2022-04-09 21:55] iiian commented on #739
Not sure what the problem was, but I've worked my way around it.

[2022-04-09 21:55] #739 closed

[2022-04-22 04:21] wwwjn commented on #587
Same problem make me stuck for a while! I believe we might need better documentation for examples. (Cause It's very easy to ignore the comment on the top.

[2022-04-22 05:12] fsouza commented on #587
@wwwjn where do you think we should put the documentation?

[2022-04-22 05:18] wwwjn commented on #587
Thanks a lot for your quick response! For example, we can add a short markdown file in the /examples folder.
Btw, Thanks for create such a great project!

[2022-04-22 05:31] fsouza commented on #587
That's a good idea! We can add the markdown file with the generic information that applies to all examples and then have some inline comments in the code whenever there are any specifics. I will try to find time to work on that on the weekend or early next week.

[2022-04-22 05:55] wwwjn commented on #623
Hi @BigJerBD , I'm also trying to use Apache beam to do resumable uploads, but I keep getting error `Upload failed: HttpError accessing <https://www.googleapis.com/resumable/upload/storage/v1/b/xxxxx` no matter how I set the environment variable. It seems that the` www.googleapis.com` has not been replaced to localhost:4443 or 0.0.0.0:4443. Could you please tell me how you do this? Have you figure

[2022-04-22 09:32] robinjhector opened #758 "Self link and media link missing"
Hello!

Whenever I use the Google storage java sdk to list blobs in a fake-gcs-server bucket, none of the blobs have their "self link" and "media link" populated. I'm assuming this is a bug?

[2022-04-22 12:20] fsouza commented on #623
@BigJerBD hey, would you be able to share a snippet on how to reproduce the issue? I can definitely look into this some time this weekend or early next week.

[2022-04-22 17:56] wwwjn commented on #623
Hi @BigJerBD , I'm also trying to use Apache beam Filesystems to upload and download (Using Filesystems). But I keep getting error: `HttpError accessing <https://www.googleapis.com/resumable/upload/storage/v1/b/`. It seems that it keeps accessing www.googleapis.com using Apache Beam, no matter how I set the environment variable. Could you please share a snippet how you do this? Thanks a lot!

[2022-04-22 20:56] BigJerBD commented on #623
I'll try this weekend to share a snippet the error that I had .

It's been a while so I probably lost it and have to reproduce it again :sweat_smile:

[2022-04-23 00:48] wwwjn commented on #623
Hi, I monkey-patch Apache Beam to replace `www.googleapis.com` with fake-gcs-server, then I got the same error with @BigJerBD (I got 404 !)
And my script is: `test.py` (Apache beam version : `apache-beam==2.36.0`)
[code]
And the `gcsio.py` file is (which is used for monkey-patch Apache Beam):
[code]

And I got following error with resumable url:
<img width="1239" alt="image" src="https://user-imag

[2022-04-24 03:19] BigJerBD commented on #623
@wwwjn  thank you very much for the snippet!  This is indeed something like that I did when I was doing to use fake-gcs-server.

Apache beam or not, since this were also giving a 404, I was also wondering if this feature was implemented within fake-gcs-server or not.

Thanks ! :)

[2022-04-25 07:08] robinjhector commented on #758
I'm quite dependent on this feature in my code :) Having these links available in my tests would be awesome!

[2022-04-25 13:21] fsouza commented on #758
Hey, thanks for opening this issue. Do you know what they're usually set to? I can dig into the docs/run some real examples if not.

[2022-04-25 13:28] robinjhector commented on #758
https://cloud.google.com/storage/docs/json_api/v1/objects

I believe `mediaLink` is usually the link to view an image or media object directly, eg. in browser. I think GCS serves the binary data with the correct content-type header, and the browser solves the rest.

SelfLink is the link to the object in the bucket, which, if I open it in a browser, will be downloaded.

[2022-04-25 13:28] fsouza opened #760 "Create process for testing GCS and diagnosing incompatibilities"
Every now and then someone opens an issue about something missing or not behaving the same as in GCS, and sometimes it's tricky to understand what GCS is doing, specially when it does nonstandard or undocumented things (for example, the Java SDK uses Content-Encoding to gzip the _request_, which is not HTTP-compliant, but we have to support it), and I always need to ask for more information or set

[2022-04-25 13:31] fsouza commented on #758
Ohh interesting. Does that mean that it is not set for all objects?

[2022-04-27 23:37] bmansoob commented on #299
👋 @fsouza

I see generation support has been added in https://github.com/fsouza/fake-gcs-server/pull/735 at the same layer as in #300.

I added support for this in the memory backend [here](https://github.com/fsouza/fake-gcs-server/compare/main...bmansoob:generation-match-support?expand=1). I wanted to confirm with you first, before opening a pull request, that do you still plan on tackling this i

[2022-05-01 00:16] somen440 commented on #587
I had a similar problem. The sample worked locally with the following command.

[code]

[2022-05-10 14:03] #667 closed

[2022-05-10 17:42] wwwjn commented on #623
Hi @fsouza, is there any progress on this bug? Thanks a lot for your help!

[2022-05-11 01:05] fsouza commented on #623
Hey, I haven't had a chance to look at it yet, but I assume the fix should be simple. I'll check it out in the coming weeks.

[2022-05-11 02:56] wwwjn commented on #623
Thanks a lot! If there is anything I could do, feel free to just let me know!

[2022-05-20 12:31] mcrichton opened #791 "Avoid setting "X-Goog-Hash" header in downloads when range is provided"
Expected: the "X-Goog-Hash" is not set for ranged download requests (I cannot find any documentation saying this should be the case, but doing a range GET request against a blob in "real" GCS does not return an "X-Goog-Hash" header)

Actual: the "X-Goog-Hash" is [set regardless of whether or not a ranged request is being made](https://github.com/fsouza/fake-gcs-server/blob/076577042e85a326642c0b81

[2022-05-30 19:37] fxn commented on #381
Facing the same issue.

[2022-05-31 05:12] fxn commented on #381
Tried using this class

[code]

For a dummy private key generated with `openssl`, and I get pass that error message, to now get a HTTP response of

[code]

Can anybody help? This is just for a test suite.

[2022-06-01 21:33] dnerdy commented on #536
I'd like to fix this. Note that I don't believe `Range: bytes=-10-` is a valid range. A range with an offset from the end of the content looks like `Range: bytes=-10`. I also noticed it's possible to cause fake-gcs-server to panic by requesting an out-of-bound range. GCS returns a 416 when the range start is past the end of the content, and ignores other invalid ranges (i.e. it returns a 200 respo

[2022-06-02 04:03] dnerdy opened #804 "Creating a bucket that already exists should return a 409"
Both the fs and memory backend return 200 responses when creating a bucket that already exists (the fs backend uses os.MkdirAll and the memory backend allows re-creation of existing buckets as long as VersioningEnabled matches).

GCS returns a 409 response when attempting to create a bucket that already exists. It would be nice if fake-gcs-server matched this behavior.

[2022-06-02 07:42] seniorcatDDL commented on #701
Hi, any updates here? I have the same problem with php client

[2022-06-02 09:25] mcrichton commented on #791
A mistake on my end, on re-checking. Thanks for verifying!

[2022-06-02 09:25] #791 closed

[2022-06-02 11:49] fsouza commented on #701
Sorry, still didn't get a chance to inspect what the value should be when the bucket has versioning disabled. Do you know what the API returns if generation is disabled in the bucket?

I know I can create a bucket and check, but wondering if this is something y'all can help with.

[2022-06-02 12:28] mmetayer commented on #701
As far as I understand the docs (https://cloud.google.com/storage/docs/object-versioning and https://cloud.google.com/storage/docs/metadata#generation-number) there is always a generation number returned, whether the versioning is enabled or not.

[2022-06-02 13:23] #804 closed

[2022-06-02 18:49] modosc commented on #636
btw the solution we found was to add an empty file in the (empty) bucket directory. now we can reliably start a server and have all of our buckets exist .

[2022-06-03 09:45] seniorcatDDL commented on #701
I can help with this issue, if you tell me where to edit the server response please

[2022-06-03 15:53] alexgille opened #810 "Golang client - Error 401: Anonymous caller does not have storage.objects.get access to the Google Cloud Storage object"
Hi,

I use the Docker image to ease local development in Golang but my component can't interact with the emulator as the Golang GCS client raises the following error :

`Error 401: Anonymous caller does not have storage.objects.get access to the Google Cloud Storage object`

My GCS client is the one provided by the Golang package `https://pkg.go.dev/cloud.google.com/go/storage`.

As stated in Goog

[2022-06-03 16:58] TxS-7 opened #811 "Connecting to emulator through PySpark"
Hello,

I've been trying to use the Fake GCS server from inside PySpark using something like this:
`csv_file = 'gs://bucket/file.csv'
df = spark_session.read.format('csv') .load(csv_file)`

I've also added the JAR gcs-connector-hadoop3-latest.jar because gs file type could not be recognized.

When running the above code, the program hangs. Do you have any idea as to what the problem could be?

I'm

[2022-06-03 17:16] fsouza commented on #811
I'm not familiar with PySpark, is STORAGE_EMULATOR_HOST a documented environment variable for that tool or something you just tried? Do you have a link for the documentation on communicating with GCS? We can check if there are any settings that we could set.

[2022-06-03 17:37] TxS-7 commented on #811
Thank you for your quick reply.

STORAGE_EMULATOR_HOST is an environment variable used for Python's google cloud API. You can use it to connect to an emulated GCS server.

If I try to connect to the fake GCS server from Python's Google Cloud Storage API it works fine, but when I try to read a file through PySpark, it stops responding.

I couldn't find any documentation regarding connecting PySpark

[2022-06-04 02:47] fsouza commented on #811
@TxS-7 do you have any docs to the PySpark integration with GCS? Worst case we can  dig into the code I guess heh

[2022-06-04 02:58] #536 closed

[2022-06-04 03:08] fsouza commented on #810
Hmm I don't remember exactly why in our [Go example](https://github.com/fsouza/fake-gcs-server/tree/main/examples/go) that we [execute in CI](https://github.com/fsouza/fake-gcs-server/blob/275f44a1716a2bac197fe2611433b19acbc1b88d/ci/run-go-example.sh#L7) we set `STORAGE_EMULATOR_HOST` and then manually set the endpoint in code too. I wonder if there's something missing in the Go SDK. Could be that

[2022-06-04 03:20] fsouza commented on #701
@veteran29 @seniorcatDDL I believe this is a limitation in the filesystem backend only? It should be solved when we fully implement versioning in that backend, but a quicker fix is available in #812. Could you give that a try?

Thanks for your patience!

[2022-06-05 21:41] fsouza commented on #701
Closed via 230d2a3d35d32efcaa5450004792582ee539226e.

[2022-06-05 21:41] #701 closed

[2022-06-06 08:24] seniorcatDDL commented on #701
Thank you, I'll definitely try it today

[2022-06-06 08:28] TxS-7 commented on #811
Apparently Spark was connecting to Google's servers and I had to set a configuration parameter for the Spark Session so that it connects to the fake GCS server instead using the following:
`spark_session._jsc.hadoopConfiguration().set("fs.gs.storage.root.url", "http://localhost:4443/")`

Thank you for your help!

[2022-06-06 08:28] #811 closed

[2022-06-06 10:11] seniorcatDDL commented on #701
Works great, thanks a lot!
Is it possible to update a docker image?

[2022-06-06 10:24] alexgille commented on #810
Hello,

You were right about the endpoint override in the client.
Now it works after adding `option.WithEndpoint("http://localhost:4443")` and the environment prepared with `export STORAGE_EMULATOR_HOST='localhost:4443'`.
It seems that both are needed to work locally with the emulator.

Thanks,
Regards

[2022-06-06 10:24] #810 closed

[2022-06-06 11:31] burakince opened #815 "Missing Docker v1.38.1 and Wrong Tag Format"
Hi,

Docker push workflow looks like needs a [`v` tag at the beginning of tag name](https://github.com/fsouza/fake-gcs-server/blob/fbeb0c2d8aa1b941d9d5e0655ca71435ae382a0f/.github/workflows/docker-push.yml#L5). But unfortunately somehow latest [1.38.1 tag](https://github.com/fsouza/fake-gcs-server/releases/tag/1.38.1) didn't use `v` at the beginning of name and docker push pipeline didn't run. Cou

[2022-06-06 12:56] fsouza commented on #815
That was my mistake, I'll fix it.

[2022-06-06 13:01] fsouza commented on #701
Should be up in a couple of minutes, I made a mistake when tagging it yesterday. Sorry about that.

[2022-06-06 13:08] fsouza commented on #815
This is fixed now, thanks for reporting!

[2022-06-06 13:08] #815 closed

[2022-06-06 15:36] drehelis opened #816 "Regression in the latest version 1.38.1"
Version `1.38.0` works as expected, while the latest `1.38.1` we've started to receive:
[code]

`gcs_utils.py` is a tiny wrapper to upload/download/list objects using `google-cloud-storage`

fake-gcs is started with the following args:
[code]

[2022-06-06 17:31] fsouza commented on #816
hmm probably something with the range changes.

I'll give investigate later.

[2022-06-06 21:51] fsouza commented on #816
Oh I see, I think this is a side effect of the generation fix for the PHP client.

@drehelis can you check if this PR fixes the issue for you? https://github.com/fsouza/fake-gcs-server/pull/818

[2022-06-06 22:02] fsouza commented on #816
While at it, can you try #819 too? That would be less disruptive.

[2022-06-07 12:45] drehelis commented on #816
Tested #819 only, seems to work.

[code]

[2022-06-07 13:46] fsouza commented on #816
Fixed via #819, which is included in 1.38.2.

Thanks for reporting and apologies for the disruption!

[2022-06-07 13:46] #816 closed

[2022-06-11 13:20] konne opened #827 "Document persist FileStore"
Hi,

we have the situation in gitpod that every time we start a new workspace again all docker containers are created from scratch, so it is needed that a docker container stores all his stuff in a persistent volume.

Can you please give me a hint howto to it. I already tried to just bind the /storage folder to a persistent volume but it seams that this is not enough

bye
Konne

[2022-06-11 18:11] konne commented on #827
we override the entrypoint and missed the -data /data command
after we added this everything works fine

[2022-06-11 18:11] #827 closed

[2022-06-15 14:08] dnerdy opened #828 "Efficiently handle large objects when downloading"
This issue is like #669 except that it's specific to downloading. When downloading an object fake-gcs-server loads an entire object into memory. This can be problematic when there are concurrent requests of large objects. It's especially problematic when there are concurrent range reads. We have code that performs a bunch of small concurrent range reads on a large file, and responses that are at m

[2022-07-09 03:19] wjones127 opened #852 "Support XML Multipart uploads?"
We are looking at integration testing with this server for object_store_rs and are implementing bindings for the [XML Multipart upload](https://cloud.google.com/storage/docs/multipart-uploads). It would be nice to be able to test those methods with this server.

Is this repo open to contributions? If so I'd be willing to attempt a PR.

[2022-07-15 10:33] fsouza commented on #852
Hey, yeah, feel free to send a PR. I'm not that familiar with the XML APIs, but we can work on it together.

[2022-07-19 08:21] markvital opened #861 "Uploaded files are not accessible by their URL"
Hi,
I'm running the GCS emulator following the instructions in README.

I created the following directory structure:
[code]

I run the emulator using the following command:
[code]

Everething works great, the bucket is created and I can see some objects there, as expected:
[code]
[code]
When I connect to the docker container via terminal I can see the files in `/storage` folder as well.

But when

[2022-07-25 15:58] tobilen commented on #861
took me a while too:

`http://localhost:4443/storage/v1/b/<BUCKET_NAME>/o/<OBJECT_NAME>?alt=media`
might not need the `alt=media` for text. i've only been using it for images

[2022-08-14 23:51] fsouza commented on #861
@markvital that should work ([`${scheme}://${public-host}/${bucket}/${object}` points to the downloadObject handler](https://github.com/fsouza/fake-gcs-server/blob/bd78a8742b31e5429075bc99632ef5f78b1ed6cd/fakestorage/server.go#L257)). Can you share all the logs from the server process?

(apologies for the delayed response, I was out on a long break, but I'm back, so you can expect faster responses

[2022-08-18 08:32] lauslim12 commented on #861
I have the same problem.

I hosted this Fake GCS Server on my Raspberry Pi in my local network, so the URL is a bit different. Instead of `localhost:4443` I am going to use `192.168.1.2:4443`. When I try to access `http://192.168.1.2:4443/storage/v1/<BUCKET_NAME>/<OBJECT_NAME>`, I got the same `Not Found` error.

I have to edit the URL to be like this format: `http://192.168.1.2:4443/storage/v1/b/

[2022-08-18 13:14] tdeg opened #894 "Sharing volume on macOS: "failed to determine if storage supports xattr""
Hi. I am trying to mount a volume between my host machine and docker container. My goal is be able to see the data that is getting uploaded outputted to a folder in my project's directory. After reading through the codebase my current configuration looks like this:

[code]

When running compose up, the container crashes with the following error:
[code]

If I remove the volume from the storage defi

[2022-08-18 13:46] fsouza commented on #861
Gotcha. In that case you need to pass `-public-host 192.168.1.2:4443` to the process. fake-gcs-server validates the host too for those "public" URLs.

[2022-08-18 13:51] fsouza commented on #894
Hmm yeah that won't work with the way we store metadata in the filesystem backend (we use extended attributes, which are [not supported by Docker for Mac](https://docker-docs.netlify.app/docker-for-mac/osxfs/#extended-attributes). What we usually recommend is to use the shared volume as the source and let fake-gcs-server manage the storage root, but in that case you wouldn't be able to see the fil

[2022-08-18 14:31] lauslim12 commented on #861
Thank you for your reply! I have tested with `-public-host 192.168.1.2:4443`, but it seems that the problem is not yet fixed...

I still have to add an `o` before the object name, so it's still `http://192.168.1.2:4443/storage/v1/b/<BUCKET>/o/<OBJECT>`. My expected URL is actually `http://192.168.1.2:4443/storage/v1/b/<BUCKET>/<OBJECT>` (without the `/o/` addition).

My question, is adding of `/o/

[2022-08-18 14:50] fsouza commented on #861
Is that URL valid in the GCS API?

Once you set `-public-host 192.168.1.2:4443`, the URL `http://192.168.1.2:4443/<BUCKET>/<OBJECT>` should work.

As far as I understand:

- `http://192.168.1.2:4443/storage/v1/b/<BUCKET>/o/<OBJECT>` is the API URL, which works in fake-gcs-server, but in real GCS would require authentication (replacing 192.168.1.2:4443 with storage.googleapis.com)
- `http://192.168

[2022-08-18 15:16] lauslim12 commented on #861
Ahhh, I see. I just found out about it by reading your answer and looking at Google Cloud Storage's documentation. It appears that my expected URL (`http://192.168.1.2:4443/storage/v1/b/<BUCKET>/<OBJECT>`) is not a valid URL. I have executed the Docker image with `-public-host 192.168.1.2:4443` and the image shows perfectly in my browser by following your second URL (`http://192.168.1.2:4443/<BUCK

[2022-08-18 15:21] fsouza commented on #861
Thanks for sharing your setup. I'll close the issue, but please let me know if we should keep it open or feel free to open another one in the future if you run into any other issues!

[2022-08-18 15:21] #861 closed

[2022-08-18 20:19] tdeg commented on #894
Ah okay. For the time being I will verify uploads via cURL but my use case is web scraping so I would love to be able to see the actual data that's being scraped outputted. I have other ways of doing this but was trying to simulate GCP much as possible locally.

[2022-08-18 20:37] fsouza commented on #894
We do have a fallback in place for Windows where xattr isn't supported at all (we store the metadata in a JSON file). Perhaps what we could do is fallback automatically to the json format whenever the filesystem root doesn't support xattr, instead of assuming that anything that's not Windows supports it. Shouldn't be too hard I think

[2022-08-18 22:45] fsouza commented on #894
@tdeg can you try #897?

[2022-08-18 23:24] tdeg commented on #894
@fsouza that fixed it! 🙂 thanks a ton!

[2022-08-19 00:10] fsouza commented on #894
Closed via #897. New release coming soon.

[2022-08-19 00:10] #894 closed

[2022-08-19 19:23] markvital commented on #861
No problem, it actually worked for me after I deleted and restarted docker container.
Thank you so much for helping 🙏

[2022-08-20 08:46] pckhoi opened #898 "Support notificationConfigs API"
Any plan to support `/storage/v1/b/BUCKET_NAME/notificationConfigs` operations as described [here](https://cloud.google.com/storage/docs/reporting-changes#enabling)? I could take a stab at this if no one is working on it.

[2022-08-23 15:27] fsouza commented on #898
Hey @pckhoi, would we integrate it with the existing pubsub implementation?

As far as I know, no one is working on it, and a patch is welcome, but I'm curious on how it'd work.

[2022-08-25 14:54] lauslim12 opened #904 "Health Checks for Docker Compose"
Hello!

I have a question: is it possible for this Fake GCS Server to have a dedicated endpoint for health checks? I am using `docker compose` to provision my infrastructures for development purposes like the following:

[code]

I'm trying to do health checks by pinging it like the following (via `curl`, my Fake GCS server is hosted in `192.168.1.6:4443`):

[code]

When I try to query/ping the Fak

[2022-08-25 14:58] fsouza commented on #904
`/storage/v1/b` should always works, as that list the buckets in the server (it'll just return an empty list if there are no buckets), but I could swear we had a dedicated healthcheck URL.

We can add one at `/_internal/healthcheck` or something like that, that's not a lot of work.

[2022-08-26 10:24] lauslim12 commented on #904
Sorry for the late response!

Apparently, `/storage/v1/b` does not work either for me...

[code]

If we create a health check endpoint at `internal/healthcheck.go`, do you have any idea on how to start working on that? I think I want to try to tackle this on.

[2022-08-26 22:35] fsouza commented on #904
@lauslim12 can you try #906?

[2022-08-27 03:23] lauslim12 commented on #904
Yep, that works properly. Thank you for adding the endpoint! Here, I will cross-post the configuration I use to perform the health check:

I performed the health check on my machine by doing:

[code]

In the Docker, it could be performed by doing:

[code]

We can implement it in Docker Compose as well:

[code]

Hope this helps anyone who wishes to implement the health checks!

[2022-08-27 03:30] #904 closed

[2022-09-01 09:03] pckhoi commented on #898
My requirements have changed and I no longer need this feature. Feel free to close then.

[2022-09-01 12:18] fsouza commented on #898
Thanks for confirming. I'll close it and then we can revisit if someone suggests it again.

[2022-09-01 12:18] #898 closed

[2022-09-01 21:11] roeap opened #909 "Support preconditions on copyTo requests"
As I just started looking into GCS, I may completely have missed something, But after some testing and browsing the code, it seems to me precoditions are currently not supported for copy requests.

It would be great to have support for these, as we are using fake-gcs to test a solution that heavily relies on copy-if-not-exists functionality.

[2022-09-01 23:39] fsouza commented on #909
Hi @roeap, thanks for opening the issue and thanks for confirming that using the memory backend is OK with you.

Right now, using the memory backend is the only way to have versioning. The filesystem backend doesn't really support generations. But you're right, I'm pretty sure we'd need to add that feature.

[2022-09-02 05:37] tustvold commented on #561
This would be especially useful when using Github Actions which for some inexplicable reason do not support passing command line arguments to services - https://github.com/orgs/community/discussions/26688

[2022-09-02 16:30] #828 closed

[2022-09-02 17:00] #416 closed

[2022-09-03 04:37] #280 closed

[2022-09-03 04:37] #313 closed

[2022-09-03 04:38] #392 closed

[2022-09-03 04:38] fsouza commented on #384
This has been implemented. Closing.

[2022-09-03 04:38] #384 closed

[2022-09-03 04:40] fsouza commented on #420
This was fixed in #843.

[2022-09-03 04:40] #420 closed

[2022-09-05 09:27] cs-oida opened #912 "FATA[0000] couldn't start the server: invalid cross-device link"
After updated the Docker image to the latest 1.40.0, the Docker container couldn't start with the following error.
[code]

Is there any solution other than downgrading the docker image?

[2022-09-05 13:06] fsouza commented on #912
Oh I guess I called it out in https://github.com/fsouza/fake-gcs-server/pull/829#discussion_r961273247 🙈

I'm going to send a PR fixing it soon (it's an easy fix).

cc @dnerdy (just for awareness, enjoy the holiday!)

[2022-09-05 13:10] fsouza commented on #912
@cs-oida can you give #913 a shot?

Thank you very much for reporting!

[2022-09-14 16:51] cmoine opened #919 "Any plan to provide a minimal web / ui interface ?"
Let me give some background. We are migrating from:
- AWS SDK with:
  - GCS in production,
  - Minio for local testing,

To:

- GCS SDK with:
  - GCS in production ofc ;)
  - `fake-gcs-server` for local testing.

First of all, thank you so much for this project which seems definitely the most robust for the moment (compared to https://github.com/oittaa/gcp-storage-emulator, official `gcloud` emula

[2022-09-14 23:33] fsouza commented on #919
Hey, thanks for opening this issues. No plans on my side, though it would be a very nice feature! It'd be something hard for me to drive though. Perhaps I can look at the minio UI for "inspiration" 🙈

I'll leave the issue open in case someone wants to volunteer :)

[2022-09-21 11:23] #532 closed

[2022-09-25 08:35] Meemaw opened #932 "Ability to change log level"
By default, `fake-gcs-server` is quite spammy, doing info logging for every request.

Add an ability to change the log level to e.g `warn/error`

[2022-09-25 22:26] fsouza commented on #932
That sounds good to me. We can add a new flag (and eventually an environment variable when we solve #561).

[2022-09-29 18:35] bzon opened #936 "storage: object doesn't exist on object.Update"
The example code works fine if using the real google cloud storage client.

Server Installation:

[code]

Sample Code:

[code]

Output:

[code]

[2022-10-05 11:14] enumag opened #940 "invalid bucket name"
I'm trying to create a bucket using the curl commands from readme:

[code]

However it fails like this:

[code]

[2022-10-05 14:27] marcguidancenl opened #941 "make_public fails due to invalid "projectOwner" ACL entity"
I'm just getting started on Google Cloud Storage, so please correct me if I'm doing something the wrong way. And, thanks for the emulator, it helps a lot.

The dev setup: fake-gcs-server is running in a Docker container, and I'm using Google's Python client. I've created buckets and files in buckets. The buckets are private by default (I think).

Now I want to make a single file public, using

[co

[2022-10-06 03:17] fsouza commented on #940
Hey @enumag, thanks for opening this issue. It seems that you're using the wrong payload? The docs have more info: https://cloud.google.com/storage/docs/json_api/v1/buckets/insert

The payload should be something like `{"name":"sample-bucket"}`.

[2022-10-06 03:17] #940 closed

[2022-10-06 03:37] fsouza commented on #941
@marcguidancenl thanks for reporting! Can you try #943?

[2022-10-06 06:42] enumag commented on #940
I was using the payload from readme: https://github.com/fsouza/fake-gcs-server#preload-data

[2022-10-06 12:13] fsouza commented on #940
The example in the README is a list request with no payload.

 `{"kind":"storage#buckets","items":[{"kind":"storage#bucket","id":"sample-bucket","name":"sample-bucket"}],"prefixes":null}` is the response, not payload.

Let me know if there are any changes that we can make to the README to make this clearer.

[2022-10-06 12:18] fsouza commented on #941
Thank you for the detailed report. There's probably a lot of things to investigate around ACLs. Can you open separate GH issues for those issues?

[2022-10-06 12:37] marcguidancenl opened #944 "make_public fails due to ACL being NULL on buckets/blobs that are pre-loaded into the docker container"
I get an ACL error when using make_public on data that is used to initialize the docker container.

this is the sample python code:

[code]

this gives `TypeError: 'NoneType' object is not iterable` in google/cloud/storage/acl.py", line 398
(as far as I can tell this is somewhere in `response.go` from aclListResponse to getAccessControlsListFromObject, where it somehow returns {"items":null} inste

[2022-10-06 12:41] marcguidancenl opened #945 "make_public and make_private don't actually update the ACL"
I noticed that the ACL doesn't actually get changed with make_public and make_private. Sample code (only works after applying #943, otherwise you get an error, see #941):

[code]

this lists the same ACL three times - initial ACL, public ACL, and private ACL:

[code]

I think the second one should at least have 'allUsers' + 'READER'.

---

_Originally posted by @marcguidancenl in https://github.co

[2022-10-06 12:42] marcguidancenl commented on #941
Sure, done :)

[2022-10-10 20:00] StevenACoffman commented on #919
@cmoine Have you tried hooking https://github.com/bashbaugh/cloud-storage-file-browser up to fake-gcs-server and seeing if it would work?

[2022-10-15 10:09] Sorarinu opened #952 "Signed URLs: Unable to authenticate with AnonymousCredentials"
Hi, everyone!

When I generate Signed URLs using `service-account.json` issued from GCP the authentication succeeds, but when I try to use `AnonymousCredentials()` as credentials it does not work.

[code]

docker logs:
[code]

We would like to avoid getting GCS service-account.json in the local development environment as much as possible.
Is there a better way to do this?

[2022-10-15 12:51] fsouza commented on #952
Hey, are you saying that generating the URL fails or sending a request to the generated URL fails?

The reason I ask is because the server (fake or real) is not involved in generating URLs, it happens within the client.

[2022-10-15 13:20] Sorarinu commented on #952
It appears that the URL generation is failing.

As you pointed out, the URL generation and authentication are done by the google-cloud-storage client, so it was a mistake to inquire with fake-gcs-server 🙇

[2022-10-15 13:39] fsouza commented on #952
Yeah I think the client will simply not work with AnonymousCredentials. Perhaps you can have some process that generates a valid-but-fake service-account.json? IIRC, that's how I used to do it in a previous job.

[2022-10-15 13:57] Sorarinu commented on #952
I will try to generate valid-but-fake service-account.json and see if the URL generation succeeds.
Thanks for your advice!

[2022-10-15 14:20] Sorarinu commented on #952
I tried passing dummy information based on the format of valid service-account.json, and it succeeded in generating a Signed URL!
Thank you for your help!

[2022-10-15 14:20] #952 closed

[2022-10-30 09:18] benzsuankularb commented on #861
Hi @fsouza, I still cannot get this work. :(

Here is my docker command
[code]

`http://localhost:8081/storage/v1/b/metadata/o/test.txt?alt=media` Responded me
[code]

`http://localhost:8081/metadata/test.txt` Responded me
[code]

@markvital  How did you get it to work?

[2022-11-06 13:57] rtrzebinski-usc opened #982 "Unable to access uploaded file (go + testcontainers)"
Hi, here is my issue with the emulator - I use `testcontainers` for integration test, uploading works fine (I see the file in the container) but there is no way to access it via HTTP or from the code, here is the script to reproduce:

[code]

When you run it will print the base url like `http://localhost:49405/storage/v1` - I try to add bucked and object name and access like `http://localhost:4940

[2022-11-06 14:38] rtrzebinski-usc commented on #982
I found out that the url to download the file would be `http://localhost:49409/download/storage/v1/b/foo/o/bar` - but how do I check whether file was uploaded using the code (reader) so I don't receive `failed to create reader, storage: object doesn't exist` error?

[2022-11-07 20:11] jguerreiro-sqsp commented on #936
The bug is also present in Object Delete operations.

From my experience, the bug was introduced during the transition from `1.40.1` to `1.40.2`.

[2022-11-13 07:54] dezyh commented on #982
I can reproduce the same issue (with my own code).

[code]

During the 20 second sleep, I quickly checked the object contents:
[code]

Finally after the sleep is over, and the test tries to read the newly created object:
[code]

[2022-11-13 08:38] dezyh commented on #982
The example works (including for creating a new bucket + object and reading it's contents) when `-public-host localhost:8080` is set in the [ci script](https://github.com/fsouza/fake-gcs-server/blob/main/ci/run-go-example.sh#L8). Without it, I also get `storage: object doesn't exist` when executing it.

Here's some really sloppy code to call inside the go example to reproduce (run with and without

[2022-11-13 09:20] dezyh commented on #982
I'm not going to make a PR for this, but it might be nice to document this, because it also cost me about 2 hours to work through everything (especially because I initially thought it was an implementation bug).

The documentation in the README mentions setting `-public-host` but doesn't mention that `downloadObject` requires `-public-host` set, nor does it mention that you can omit a port when sp

[2022-11-16 05:42] fsouza commented on #982
@dezyh thanks for digging into this. Since you did the investigation, do you also want to send a PR with improvements to the docs? I can do it if you prefer!

[2022-11-16 15:52] dezyh commented on #982
I'll make a readme PR, just wanted to check that I wasn't missing something obvious.

[2022-11-16 15:59] fsouza commented on #982
@dezyh oh, that sounds good. I'll dig into that sample code to see if there's a better fix, but yeah sounds like we need to clarify the role of `public-host` in the docs.

[2022-11-16 20:41] cobyforrester opened #990 "contentType not returned for yaml files"
Hello!

When running a get request on `.json` files, the `contentType` is set as `application/json`, but for `.yaml` it is missing entirely.

`curl http://0.0.0.0:4443/storage/v1/b/sample_bucket/o/sample_folder%2Fsample.json`
yields:
[code]
`curl http://0.0.0.0:4443/storage/v1/b/sample_bucket/o/sample_folder%2Fsample.yaml`
yields (same but with no contentType):
[code]

Whereas GCS returns `"conten

[2022-11-16 20:56] fsouza commented on #990
Are you running it locally or using the Docker image? Basically, fake-gcs-server leverages the OS-level content-type mapping, and maybe the one in alpine doesn't have a mapping for yaml? Or perhaps the mailcap package no longer includes those (json is builtin to Go, so it always works).

Just trying to understand how we fix it :)

[2022-11-16 20:57] fsouza commented on #990
Oh OK I see that alpine's /etc/mime.types doesn't have yaml:

[code]

[2022-11-16 20:59] cobyforrester commented on #990
I am running it in Docker, so that absolutely makes sense!

[2022-11-16 23:05] fsouza commented on #990
I spent some time on this and it seems like the easiest thing to do is to manually add the content-type for yaml 🤔

Sent #991, will merge it once it's green.

[2022-11-16 23:11] #990 closed

[2022-11-21 14:20] sourabhsparkala opened #992 "Not able to mimic Fake GCS Storage"
Hello All,

I am new to GOLang development

I am trying to setup GCC Emulator

First I started the server as stated in various examples

[code]

I also set this
[code]

I am assumed that by doing so, a new server would be hosted in localhost:9000 and point the `StorageRoot` folder path as the new storage folder.

And when I call this below method to list the objects found inside `StorageRoot` i.e

[2022-11-22 11:15] sourabhsparkala commented on #982
@fsouza @dezyh I followed the instructions given here and I just ran the code given above and set the `public-host` to `0.0.0.0`. But I still face the same issue. Am I missing anything?
[code]

[2022-11-27 15:30] bentheiii opened #994 "fake-gcs-server does not respect ifGenerationMatch"
It would appear that live objects are being modified even with `ifGenerationMatch=0`

steps to reproduce:
* create a new empty bucket `standard`.
* send the following request:
[code]
  with the body `0`
* confirm that the file's value is up-to-date
[code]
  you should get `0`
* send the upload request again
[code]
  this time with body `1`
* confirm that the file's value has been changed
[code]

[2022-11-27 17:33] fsouza commented on #994
@bentheiii which backend are you using? memory or filesystem? If the filesystem, what's your OS?

[2022-11-28 22:31] drehelis commented on #919
Another alternative could be https://github.com/ishvad/gcs-bucket-listing but I couldn't make it work with fake-gcs